@model IUIBinding

<div class="form-group">
    <input type="checkbox" 
           id="@Model.UIId"
           name="@Model.UIId"
           v-model="@Model.JavaScriptObjectName.@Model.DataTableDbName.@Model.DataColumnDbName"
           data-metatype="@Intwenty.Model.UserInterfaceStructureModelItem.MetaTypeCheckBox"
           data-title="@Model.Title"
           data-dbtable="@Model.DataTableDbName" 
           data-dbfield="@Model.DataColumnDbName" 
           data-required="@Model.Mandatory"
           /> @Model.LocalizedTitle
</div>