@model Intwenty.Model.IUIComplexBinding

@{
    var validationfield = Model.UIId + "_validationmsg";

}

    <div class="form-group">
        <label class="control-label">
            @Model.Title  @{ if (Model.Mandatory)
                { <span style="color: red"> *</span> }}
        </label>
        <select id="@Model.UIId"
                name="@Model.UIId"
                v-model="model.@Model.DataTableDbName.@Model.DataColumnDbName"
                class="form-control form-control-sm"
                v-on:change="onUserInput(event)"
                data-metatype=@Intwenty.Model.UserInterfaceModelItem.MetaTypeComboBox
                data-validationfield="@validationfield"
                data-title="@Model.Title"
                data-dbtable="@Model.DataTableDbName"
                data-dbfield="@Model.DataColumnDbName"
                data-required="@Model.Mandatory">
            <option v-for="item in valuedomains.VALUEDOMAIN_@Model.DomainName" v-bind:value="item.Code">{{item.Value}}</option>
        </select>
        <span class="invalidInput">@Html.Raw("{{validation." + validationfield + "}}")</span>
    </div>