@model Intwenty.Model.IUIComplexBinding

<div>
    <label>
        @Model.Title  @{ if (Model.Mandatory)
            { <span style="color: red"> *</span> }}
    </label>


    <div style="width:10%">
        <button style="float:left" class="btn btn-sm btn-secondary" v-on:click="openDataViewLookUp('@Model.ViewName')"><span class="fa fa-plus"></span></button>
    </div>


    <div style="float:left; margin-left:5px; width:30%">
        <input id="@Model.UIId" 
               name="@Model.UIId"
               type="text" 
               class="form-control form-control-sm" 
               v-model="model.@Model.DataTableDbName.@Model.DataColumnDbName" 
               v-on:keydown.tab="getDataViewValue('@Model.ViewName','@Model.DataColumnDbName','@Model.UIId')" 
               data-metatype=@Intwenty.Model.UserInterfaceModelItem.MetaTypeLookUp
               data-title="@Model.Title"
               data-dbtable="@Model.DataTableDbName" 
               data-dbfield="@Model.DataColumnDbName" 
               data-viewfield="@Model.DataViewColumnDbName" 
               data-lookupid="@Model.UIId" 
               data-required="@Model.Mandatory"
               />
    </div>


    @if (!string.IsNullOrEmpty(Model.DataViewColumn2DbName))
    {

        <div style="float:left; margin-left:5px; width:60%">
            <input type="text" 
                   class="form-control form-control-sm" 
                   v-model="model.@Model.DataTableDbName.@Model.DataColumn2DbName" 
                   data-dbtable="@Model.DataTableDbName" 
                   data-dbfield="@Model.DataColumn2DbName" 
                   data-viewfield="@Model.DataViewColumn2DbName" 
                   data-lookupid="@Model.UIId" readonly />
        </div>
    }



</div>