@model IUIComplexBinding
@{
    var validationfield = Model.UIId + "_validationmsg";

}
<div class="form-group">
    <label class="control-label">
        @Model.LocalizedTitle @{ if (Model.Mandatory)
            { <span style="color: red"> *</span> }}
    </label>

    <intwentyselect id="@Model.UIId"
                 name="@Model.UIId"
                 class="form-control form-control-lg" 
                 v-bind:idfield.sync="@Model.JavaScriptObjectName.@Model.DataTableDbName.@Model.DataColumnDbName" 
                 v-bind:textfield.sync="@Model.JavaScriptObjectName.@Model.DataTableDbName.@Model.DataColumn2DbName"
                 data-metatype="@Intwenty.Model.UserInterfaceStructureModelItem.MetaTypeMultiSelect"
                 data-title="@Model.LocalizedTitle"
                 data-validationfield="@validationfield"
                 data-dbtable="@Model.DataTableDbName"
                 data-dbfield="@Model.DataColumnDbName"
                 data-required="@Model.Mandatory" 
                 multiple="multiple">
        <option v-for="item in valuedomains.VALUEDOMAIN_@Model.DomainName" v-bind:value="item.Code">{{item.Value}}</option>
    </intwentyselect>



</div>