@model IUIBinding
@{
    var validationfield = Model.UIId + "_validationmsg";

}

<div class="form-group">
    <label class="control-label">
        @Model.LocalizedTitle @{ if (Model.Mandatory)
            { <span style="color: red"> *</span> }}
    </label>
    <input id="@Model.UIId"
           name="@Model.UIId"
           type="password"
           class="form-control form-control-sm"
           v-model="@Model.JavaScriptObjectName.@Model.DataTableDbName.@Model.DataColumnDbName"
           v-on:input="onUserInput(event)"
           data-metatype=@Intwenty.Model.UserInterfaceStructureModelItem.MetaTypePasswordBox
           data-title="@Model.LocalizedTitle"
           data-validationfield="@validationfield"
           data-dbtable="@Model.DataTableDbName"
           data-dbfield="@Model.DataColumnDbName"
           data-required="@Model.Mandatory"  />
    <span class="invalidInput">@Html.Raw("{{validation." + validationfield + "}}")</span>
</div>