@model IUIComplexBinding


@{
    var validationfield = Model.UIId + "_validationmsg";

}

<div class="form-group">
    <label class="control-label">
        @Model.LocalizedTitle  @{ if (Model.Mandatory)
            { <span style="color: red"> *</span> }}
    </label>

    <input id="@Model.UIId"
            name="@Model.UIId"
            type="text"
            class="form-control form-control-sm"
            data-metatype="@Intwenty.Model.UserInterfaceStructureModelItem.MetaTypeComboBox"
            data-validationfield="@validationfield"
            data-title="@Model.Title"
            data-dbtable="@Model.DataTableDbName"
            data-dbfield="@Model.DataColumnDbName"
            data-required="@Model.Mandatory" />


</div>


