@model Intwenty.Model.ViewModel

@{
    var func_navigate_path = "";
    var func_create_path = "";
    if (Model.HasCreateFunction)
    {
        if (!Model.CreateFunction.IsModalAction)
        {
            func_create_path = Model.CreateFunction.ActionPath;
            if (func_create_path.Contains("{requestinfo}"))
            {
                if (!string.IsNullOrEmpty(Model.RequestInfo))
                {
                    func_create_path = func_create_path.Replace("{requestinfo}", Model.RequestInfo);
                }
                else
                {
                    func_create_path = func_create_path.Replace("/{requestinfo}","");
                }
            }
            if (func_create_path.Contains("{id}"))
            {
                func_create_path = func_create_path.Replace("{id}", "0");
            }
        }
    }

    if (Model.HasNavigateFunction)
    {
        func_navigate_path = Model.NavigateFunction.ActionPath;
        if (func_navigate_path.Contains("{requestinfo}"))
        {
            if (!string.IsNullOrEmpty(Model.RequestInfo))
            {
                func_navigate_path = func_navigate_path.Replace("{requestinfo}", Model.RequestInfo);
            }
            else
            {
                func_navigate_path = func_navigate_path.Replace("/{requestinfo}", "");
            }
        }
        if (func_navigate_path.Contains("{id}"))
        {
            func_navigate_path = func_navigate_path.Replace("{id}", "0");
        }

    }

}

<div class="card">
    <div class="card-header"><h2>@Model.LocalizedTitle</h2></div>
    <div class="card-body">

        <p>@Model.LocalizedDescription</p>

        <ul class="nav">
            @if (Model.HasCreateFunction)
            {
                <li class="nav-item">
                    @if (Model.CreateFunction.IsModalAction)
                    {
                        <button class="nav-link btn btn-sm btn-outline-secondary" style="margin:10px" v-on:click="openApplicationModal(null, '@Model.CreateFunction.ActionUserInterfaceMetaCode')"><span class="fa fa-plus" style="font-size:large"></span> @Model.CreateFunction.LocalizedTitle</button>
                    }
                    else
                    {
                        <a href="@func_create_path" role="button" class="nav-link btn btn-sm btn-outline-secondary" style="margin:10px"><span class="fa fa-plus" style="font-size:large"></span> @Model.CreateFunction.LocalizedTitle</a>

                    }

                </li>
            }

            @if (Model.HasNavigateFunction)
            {
                <li class="nav-item">
                    <a href="@func_navigate_path" role="button" class="nav-link btn btn-sm btn-outline-secondary" style="margin:10px"><span class="far fa-hand-point-left" style="font-size:large"></span> @Model.NavigateFunction.LocalizedTitle</a>
                </li>
            }

            @if (Model.HasExportFunction)
            {
                <li class="nav-item">
                    <button class="nav-link btn btn-sm btn-outline-secondary" type="button" v-on:click="exportToExcel()" style="margin:10px"><span class="fa fa-file-export" style="color:seagreen; font-size:large"></span> @Model.ExportFunction.LocalizedTitle</button>
                </li>
            }

            @if (Model.HasSaveFunction)
            {
                <li class="nav-item">
                    <button class="nav-link btn btn-sm btn-outline-primary" type="button" v-on:click="saveApplication()" style="margin:10px"><span class="fa fa-save" style="font-size:large"></span> @Model.SaveFunction.LocalizedTitle</button>
                </li>
            }
        </ul>

    </div>
</div>