@model UserInterfaceModelItem

@{

    var pagesize = Model.DataTableDbName + "_pageInfo.pageSize";
    var tabletitle = string.Empty;
    var uitable = Model.UIStructure.Find(p => p.IsMetaTypeTable);
    if (uitable != null)
    {
        tabletitle = uitable.LocalizedTitle;

    }
}

@if (Model.HasFilterFunction)
{

    <br />

    <div class="row">

        <div class="col-lg-7">

            <button v-on:click="@Html.Raw(Model.DataTableDbName)_settings.showFilter=!@Html.Raw(Model.DataTableDbName)_settings.showFilter">
                <i class="fas fa-search"></i>
                <span v-if="@Html.Raw(Model.DataTableDbName)_settings.showFilter">Hide Filter</span>
                <span v-if="!@Html.Raw(Model.DataTableDbName)_settings.showFilter">Show Filter</span>
            </button>

            <br />
            <br />

            <fieldset style="padding:5px; border:1px solid black; border-radius:4px" v-if="@Html.Raw(Model.DataTableDbName)_settings.showFilter">

                <div class="row">
                    <div class="col-lg-5"><button type="button" v-on:click="addFilterValue('@Model.DataTableDbName')"><span class="fa fa-plus"></span> Add filter</button></div>
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="mt-2"></div>

                <div class="row" v-for="filteritem in @Html.Raw(Model.DataTableDbName)_pageInfo.filterValues">

                    <div class="col-lg-5">
                        <div class="form-group">
                            <select v-model="filteritem.name" class="form-control form-control-sm" placeholder="Filter">
                                @{
                                    foreach (var c in Model.Table.Columns)
                                    {
                                        <option value="@c.DataColumnDbName">@c.LocalizedTitle</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" v-model="filteritem.value" v-on:blur="runFilter('@Model.DataTableDbName')" placeholder="Value to filter on" />
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <button type="button" class="btn btn-sm btn-danger" v-on:click="deleteFilterValue(filteritem,'@Model.DataTableDbName')"><i class="fa fa-trash"></i></button>
                    </div>



                </div>



            </fieldset>

        </div>
        <div class="col-lg-5"></div>

    </div>


}

<br />
    @await Html.PartialAsync("UISections/_ApplicationSubTableHeader", Model)
<br />

@if (!string.IsNullOrEmpty(tabletitle))
{
    <h5>@tabletitle</h5>
}

<table class="table table-responsive-sm">

    <thead>
        <tr>
            @if (Model.HasDeleteFunction)
            {
                <th style="width:5%"></th>
            }
            @if (Model.HasEditFunction)
            {
                <th style="width:5%"></th>
            }


            @foreach (var c in Model.Table.Columns)
            {
                <th v-on:click="sortBycolumn('@c.DataColumnDbName','@Model.DataTableDbName')" style="cursor:pointer">@c.LocalizedTitle <span class="fa fa-sort-alpha-down-alt"></span></th>
            }
        </tr>
    </thead>

    <tr v-for="item in sorted_@Model.DataTableDbName">

        @if (Model.HasDeleteFunction)
        {
            <td style="vertical-align:middle"><button class="btn btn-sm btn-danger" v-on:click="deleteTableLine(item,'@Model.DataTableDbName')"><span class="fas fa-trash" title="Remove"></span></button></td>
        }
        @if (Model.HasEditFunction)
        {

            if (Model.EditFunction.IsModalAction)
            {
                <td style="vertical-align:middle"><button class="btn btn-sm btn-secondary" v-on:click="openSubTableModal(item, '@Model.EditFunction.ActionMetaCode','@Model.DataTableDbName')"><span class="fas fa-edit" title="Edit"></span></button></td>
            }
            else
            {
                <td style="vertical-align:middle"></td>
            }

        }

        @foreach (var c in Model.UIStructure.Where(p => !p.IsRoot && p.IsMetaTypeTableTextColumn))
        {
            <td>{{item.@c.DataColumnDbName}}</td>
        }

    </tr>

</table>

@if (Model.HasPagingFunction)
{
    <nav>
        <ul class="pagination">
            <li class="page-item" v-bind:class="{ disabled: isFirstPage('@Model.DataTableDbName') }"><a class="page-link" href="#" v-on:click="prevPage('@Model.DataTableDbName')">Previous {{@pagesize}}</a></li>
            <li class="page-item" v-bind:class="{ disabled: isLastPage('@Model.DataTableDbName') }"><a class="page-link" href="#" v-on:click="nextPage('@Model.DataTableDbName')">Next {{@pagesize}}</a></li>
        </ul>
    </nav>
}

