

@{

    var systems = new List<SystemModelItem>();
    var menutitle = "Applications";
    var apps = ModelRepository.GetAuthorizedApplicationModels(User);
    var menuobjects = ModelRepository.GetMenuModels();
    var mainmenu = menuobjects.Find(p => p.IsMetaTypeMainMenu);
    if (mainmenu != null)
    {
        menutitle = mainmenu.Title;
    }

    foreach (var a in apps)
    {
        if (!systems.Exists(p => p.MetaCode == a.SystemMetaCode))
        {
            if (a.SystemInfo != null)
            {
                systems.Add(a.SystemInfo);
            }
        }
    }

}





<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><span class="nav-label"><span class="fa fa-table"></span> @menutitle</span> <span class="caret"></span></a>
    <div class="dropdown-menu">
        @{

            if (mainmenu == null)
            {
                return;
            }


            foreach (var sys in systems)
            {
                foreach (var menuitem in menuobjects.Where(p => p.IsMetaTypeMenuItem && p.ParentMetaCode == mainmenu.MetaCode && p.SystemMetaCode == sys.MetaCode))
                {
                    if (menuitem.Application != null && apps.Exists(p => p.MetaCode == menuitem.Application.MetaCode))
                    {
                        <a class="dropdown-item" asp-controller="@menuitem.Controller" asp-action="@menuitem.Action" asp-route-id="@menuitem.Application.Id">@menuitem.Title</a>
                    }
                    else
                    {

                        if (menuitem.Application == null)
                        {
                            <a class="dropdown-item" asp-controller="@menuitem.Controller" asp-action="@menuitem.Action">@menuitem.Title</a>
                        }

                    }
                }

                <hr />

            }

        }
    </div>
</li>