
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Intwenty</title>
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.12.1-web/css/all.min.css" />
</head>

@{
    var menutitle = "Applications";
    var menuobjects = Repository.GetMetaMenuItems();
    var mainmenu = menuobjects.Find(p => p.IsMetaTypeMainMenu);
    if (mainmenu != null)
    {
        menutitle = mainmenu.Title;
    }

    var currentpath = Context.Request.Path.ToUriComponent();
    var ishomepath = string.IsNullOrEmpty(currentpath) || currentpath.Length < 5 || currentpath.Contains("Home/Index");
}


<body class="@(ishomepath ? "landingpage" : "")">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Intwenty</a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><span class="nav-label"><span class="fa fa-table"></span> @menutitle</span> <span class="caret"></span></a>
                        <div class="dropdown-menu">
                            @{


                                if (mainmenu == null)
                                {
                                    foreach (var a in Repository.GetApplicationDescriptions())
                                    {
                                        <a class="dropdown-item" asp-controller="Application" asp-action="GetList" asp-route-id="@a.Id">@a.Title</a>
                                    }
                                }
                                else
                                {
                                    foreach (var mi in menuobjects)
                                    {
                                        if (mi.IsMetaTypeMenuItem && mi.ParentMetaCode == mainmenu.MetaCode && mi.Application != null)
                                        {
                                            <a class="dropdown-item" asp-controller="@mi.Controller" asp-action="@mi.Action" asp-route-id="@mi.Application.Id">@mi.Title</a>
                                        }
                                    }
                                }
                            }
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><span class="nav-label"><span class="fa fa-cog"></span> System Administration</span> <span class="caret"></span></a>
                        <div class="dropdown-menu">


                            <a class="dropdown-item" asp-controller="ApplicationInfo" asp-action="GetList"><span class="fa fa-meteor"></span> Manage applications</a>
                            <a class="dropdown-item" asp-controller="ApplicationInfo" asp-action="EditDataviews"><span class="fa fa-database"></span> Data views</a>
                            <a class="dropdown-item" asp-controller="ApplicationInfo" asp-action="EditValueDomains"><span class="fa fa-database"></span> Value domains</a>
                            <a class="dropdown-item" asp-controller="ApplicationInfo" asp-action="EditNoSeries"><span class="fa fa-database"></span> Number series</a>
                            <a class="dropdown-item" asp-controller="ApplicationInfo" asp-action="EditMainMenu"><span class="fa fa-meteor"></span> Main menu</a>
                            <a class="dropdown-item" asp-controller="ApplicationInfo" asp-action="ValidateModel"><span class="fa fa-meteor"></span> Validate meta model</a>
                            <a class="dropdown-item" asp-controller="ApplicationInfo" asp-action="ViewMetaModelDocumentation"><span class="fa fa-meteor"></span> Meta model documentation</a>
                            <a class="dropdown-item" asp-controller="ApplicationInfo" asp-action="ConfigureDatabase"><span class="fa fa-meteor"></span> Configure database</a>
                            <a class="dropdown-item" asp-controller="ApplicationInfo" asp-action="GenerateTestData"><span class="fa fa-meteor"></span> Generate testdata batch</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-user"></span> Users and security</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" onclick="techModal()"><span class="fa fa-question"></span> Technology</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal" id="msg_dlg_modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="msg_dlg_modal_hdr" class="modal-title">Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="msg_dlg_modal_text"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="yesno_dlg_modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="yesno_dlg_modal_hdr" class="modal-title">Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="yesno_dlg_modal_text"></p>
                </div>
                <div class="modal-footer">
                    <button id="yesno_dlg_modal_yesbtn" type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="tech_modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">About Intwenty</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Technologies</h5>
                    <ul>
                        <li>Asp.Net Core 3.1</li>
                        <li>Bootstrap 4.3.7</li>
                        <li>Vue.js v2.6.11</li>
                        <li>JQuery v3.3.1</li>
                        <li>alasql.js v???</li>
                    </ul>
                    <h5>Licence</h5>
                    <p>Massachusetts Institute of Technology</p>
                    <h5>Author</h5>
                    <p>Johan Filipsson</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

   

    <div class="container body-content">
        @RenderBody()
        @if (!ishomepath)
        {
            <hr />
            <footer>
                <p>&copy; 2020 - Intwenty</p>
            </footer>
        }
    </div>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap-4.4.1/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/vue/vue.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        function techModal()
        {
            $("#tech_modal").modal();
        }
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
