@model string 

<!--

Requires an item with properties, which name is passed as the model  

-->


<div>

    <hr />

    <div class="form-inline" v-if="@(Model).currentProperty">

        <div class="mr-2">
            <select id="propcbox"
                    name="propcbox"
                    v-model="@(Model).currentProperty"
                    class="form-control form-control-sm">
                <option v-for="item in selectableProperties(@(Model))" v-bind:value="item">{{item.displayName}}</option>
            </select>
        </div>

        <div class="mr-2" v-if="@(Model).currentProperty.isBoolType">

        </div>

        <div class="mr-2" v-if="@(Model).currentProperty.isStringType">
            <input class="form-control-sm" v-model="@(Model).currentProperty.codeValue" type="text" />
        </div>

        <div class="mr-2" v-if="@(Model).currentProperty.isNumericType">
            <input class="form-control-sm" v-model="@(Model).currentProperty.codeValue" type="number" />
        </div>

        <div class="mr-2" v-if="@(Model).currentProperty.isListType">
            <div class="form-group">
                <select id="cboxpropvalues"
                        name="cboxpropvalues"
                        v-model="@(Model).currentProperty.codeValue"
                        class="form-control form-control-sm">
                    <option v-for="item in @(Model).currentProperty.validValues" v-bind:value="item.codeValue">{{item.displayValue}}</option>
                </select>
            </div>
        </div>


        <button class="btn btn-sm btn-secondary mr-2" v-on:click="addProperty(@(Model))" style="margin-left:2px"><span class="fa fa-plus"></span> Add</button>


    </div>

    <hr />

    <table class="table table-sm" style="width:50%">
        <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="property in @(Model).propertyList">
                <td>{{property.codeName}}</td>
                <td>{{property.displayValue}}</td>
                <td><span v-on:click="deleteProperty(property,@(Model))" class="fa fa-trash" style="cursor:pointer"></span></td>
            </tr>
        </tbody>
    </table>
</div>