@model RegisterModel

<div class="col-md-6">
    <section>


        @{
            <p></p>

            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div class="d-flex flex-wrap">


                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <div class="p-2">
                            @if (provider.Name.ToUpper().Contains("FACE"))
                            {
                                <button type="submit" class="btn btn-lg btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-facebook"></i> Log in with @provider.DisplayName</button>

                            }
                            @if (provider.Name.ToUpper().Contains("GOOGLE"))
                            {
                                <button type="submit" class="btn btn-lg btn-danger" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-google"></i> Log in with @provider.DisplayName</button>
                            }
                        </div>
                    }

                </div>
            </form>
        }

    </section>

</div>