<div class="col-md-6">

    <section>


        @if (Settings.Value.LocalizationMethod == LocalizationMethods.UserLocalization)
        {
            <div class="form-group">
                <label>@Localizer["Language"]</label>
                <select v-model="model.language" class="form-control" id="lang" v-on:input="onUserInput(event)" data-required="True">
                    @{
                        foreach (var t in Settings.Value.LocalizationSupportedLanguages)
                        {
                            <option value="@t.Culture">@t.Name</option>
                        }
                    }
                </select>
            </div>
        }

        @if (Settings.Value.AccountsUseEmailAsUserName)
        {
            <div class="form-group">
                <label>Email <span style="color: red"> *</span></label>
                <input type="email" v-model="model.email" class="form-control" id="email" v-on:input="onUserInput(event)" data-required="True" autocomplete="nope" />
            </div>
        }
        else
        {
            <div class="form-group">
                <label>@Localizer["User Name"] <span style="color: red"> *</span></label>
                <input type="email" v-model="model.userName" class="form-control" id="username" v-on:input="onUserInput(event)" data-required="True" autocomplete="nope" />
            </div>

            <div class="form-group">
                <label>Email <span style="color: red"> *</span></label>
                <input type="email" v-model="model.email" class="form-control" id="email" v-on:input="onUserInput(event)" data-required="True" autocomplete="nope" />
            </div>

        }

        @if (Settings.Value.AccountsRegistrationRequireName)
        {
            <div class="form-group">
                <label>@Localizer["First Name"] <span style="color: red"> *</span></label>
                <input type="text" v-model="model.firstName" class="form-control" id="firstname" v-on:input="onUserInput(event)" data-required="True" autocomplete="nope" />
            </div>

            <div class="form-group">
                <label>@Localizer["Last Name"] <span style="color: red"> *</span></label>
                <input type="text" v-model="model.lastName" class="form-control" id="lastname" v-on:input="onUserInput(event)" data-required="True" autocomplete="nope" />
            </div>

        }

        <div class="form-group">
            <label>@Localizer["Password"] <span style="color: red"> *</span></label>
            <input v-model="model.password" type="password" class="form-control" id="password" v-on:input="onUserInput(event)" data-required="True" autocomplete="nope" />
        </div>
        <div class="form-group">
            <label>@Localizer["Confirm Password"] <span style="color: red"> *</span></label>
            <input v-model="model.confirmPassword" type="password" class="form-control" id="confpassword" v-on:input="onUserInput(event)" data-required="True" autocomplete="nope" />
        </div>
        <div v-if="!passwordsMatch" class="alert alert-danger">@Localizer["Passwords must match"] !</div>
        <button type="button" class="btn btn-primary" v-on:click="registerNewLocalUser()">@Localizer["Register"]</button>
    </section>

</div>
