@page
@model LoginModel
@using Microsoft.Extensions.Options
@using Intwenty.Model
@inject IOptions<IntwentySettings> Settings

@{
    ViewData["Title"] = "Log in";
    var demouser = "";
    var demopwd = "";
    if (Settings.Value.ShowDemoLoginInfo)
    {
        demouser = " (" + Settings.Value.DemoAdminUser + ")";
        demopwd = " (" + Settings.Value.DemoAdminPassword + ")";
    }
}

<br />
<br />

<div class="card">
    <div class="card-header"><h2>@ViewData["Title"]</h2></div>
    <div class="card-body"></div>
</div>

<br />
<br />

<div class="row">

    <div class="col-md-4">
        @if (Settings.Value.UseLocalLogins)
        {
        <section>
            <form id="account" method="post">

                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <div class="alert alert-danger">@Model.ErrorMessage</div>
                }


                <div class="form-group">
                    @if (Settings.Value.UseEmailAsUserName)
                    {
                        <label>Email @demouser</label>
                    }
                    else
                    {
                        <label>User Name @demouser</label>
                    }
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <label>Password @demopwd</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label><input asp-for="Input.RememberMe" />Remember me ?</label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>

      }
    </div>
    
   
    <div class="col-md-6 col-md-offset-2">

        @if (Settings.Value.UseExternalLogins)
        {

            <label class="pl-2">Use external accounts</label>

            <section>


                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div class="d-flex flex-wrap">


                        @foreach (var provider in Model.ExternalLogins)
                        {
                        <div class="p-2">
                            @if (provider.Name.ToUpper().Contains("FACE"))
                            {
                                <button type="submit" class="btn btn-lg btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-facebook"></i> Log in with @provider.DisplayName</button>

                            }
                            @if (provider.Name.ToUpper().Contains("GOOGLE"))
                            {
                                <button type="submit" class="btn btn-lg btn-danger" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-google"></i> Log in with @provider.DisplayName</button>
                            }
                           
                        </div>
                        }

                    </div>


                </form>


            </section>
        }
    </div>

</div>

