@model List<Intwenty.Model.ApplicationModel>

@{
    ViewData["Title"] = "Model documentation";
}

<style>
    th {
        width: 25%;
    }
</style>



<div>
    <br />
    <br />
    <div class="card">
        <div class="card-header"><h2>Model documentation</h2></div>
        <div class="card-body"></div>
    </div>
    <br />
    <br />

     @foreach (var app in Model)
    {
        <div class="card">
            <div class="card-header"><h4>(@app.Application.Id) @app.Application.Title</h4></div>
            <div class="card-body">@app.Application.Description</div>
        </div>

        <br />

        <div style="margin-left:20px">
            <h4>Database tables</h4>

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Table name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@app.Application.DbName</td>
                    </tr>
                    <tr>
                        <td>
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th style="width:30%">Column name</th>
                                        <th style="width:10%">Intwenty data type</th>
                                        <th style="width:10%">Db data type</th>
                                        <th style="width:10%">Mandatory</th>
                                        <th style="width:40%">Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var data in app.DataStructure.Where(p => p.IsMetaTypeDataColumn && p.IsRoot))
                                    {
                                    <tr>
                                        <td>@data.DbName</td>
                                        <td>@data.DataType</td>
                                        <td>
                                            @if (data.HasProperty("DBDATATYPE"))
                                            {
                                                <span>@data.GetPropertyValue("DBDATATYPE")</span>
                                            }
                                            else
                                            {
                                                <span>-</span>
                                            }
                                        </td>
                                        <td>@data.Mandatory</td>

                                        @if (data.HasProperty("INTWENTYDEFAULTCOLUMN"))
                                        {
                                            <td>Intwenty system column</td>
                                        }
                                        else
                                        {
                                            <td>-</td>
                                        }


                                    </tr>
                                       }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h4>Views</h4>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Path</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ui in app.Views)
                    {
                    <tr>
                        <td>@ui.Title</td>
                        <td>@ui.Path</td>
                    </tr>
                    }
                </tbody>
            </table>

           
        </div>
    }





</div>