@model List<Intwenty.Model.Dto.CachedObjectDescription>

@{
    ViewData["Title"] = "Cache Monitor";
}




<div>
    <br />
    <br />
    <div class="card">
        <div class="card-header"><h2>Cache Monitor</h2></div>
        <div class="card-body"></div>
    </div>

    <br />
    <br />

    @if (Model.Exists(p => p.IsCachedApplication() || p.IsCachedApplicationList()))
    {
        <h4>Transaction Cache</h4>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th style="width:50%">Title</th>
                    <th style="width:20%">Key</th>
                    <th style="width:30%">JsonLength</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cachedobj in Model.Where(p => p.IsCachedApplication() || p.IsCachedApplicationList()))
                {
                    <tr>
                        <td>@cachedobj.Title</td>
                        <td>@cachedobj.Key</td>
                        <td>@cachedobj.JsonCharcterCount</td>
                    </tr>
                }
            </tbody>
        </table>


    }

    <br />

    <h4>Model Cache</h4>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th style="width:50%">Title</th>
                <th style="width:20%">Key</th>
                <th style="width:30%">Objects</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cachedobj in Model.Where(p => p.IsCachedModel()))
            {
                <tr>
                    <td>@cachedobj.Title</td>
                    <td>@cachedobj.Key</td>
                    <td>@cachedobj.ObjectCount</td>
                </tr>
            }
        </tbody>
    </table>



</div>