@model List<Intwenty.Model.ApplicationModel>

@{
    ViewData["Title"] = "Meta model documentation";
}

<style>
    th {
        width: 25%;
    }
</style>



<div>
    <br />
    <br />
    <div class="card">
        <div class="card-header"><h2>Meta model documentation</h2></div>
        <div class="card-body"></div>
    </div>
    <br />
    <br />


    @foreach (var app in Model)
    {
        <div class="card">
            <div class="card-header"><h4>(@app.Application.Id) @app.Application.Title</h4></div>
            <div class="card-body">@app.Application.Description</div>
        </div>

        <br />

        <div style="margin-left:20px">
            <h4>Database tables</h4>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Table name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@app.Application.DbName</td>
                    </tr>
                    <tr>
                        <td>
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Column name</th>
                                        <th>Intwenty data type</th>
                                        <th>Sql data type</th>
                                        <th>Mandatory</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var data in app.DataStructure.Where(p => p.IsMetaTypeDataColumn && p.IsRoot))
                                    {
                                        <tr>
                                            <td>@data.DbName</td>
                                            <td>@data.DataType</td>
                                            <td>@data.SQLDataType</td>
                                            <td>@data.Mandatory</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h4>UI Components</h4>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Component Type</th>
                        <th>Title</th>
                        <th>Database field</th>
                        <th>Domain</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ui in app.UIStructure.Where(p=> !p.IsMetaTypeEditGridCheckBox && 
                                                                  !p.IsMetaTypeEditGridComboBox &&
                                                                  !p.IsMetaTypeEditGridDatePicker &&
                                                                  !p.IsMetaTypeEditGridLookUp &&
                                                                  !p.IsMetaTypeEditGridNumBox &&
                                                                  !p.IsMetaTypeEditGridTextBox).OrderBy(p => p.RowOrder).ThenBy(p => p.ColumnOrder))
                    {
                    <tr>
                        <td>@ui.MetaCode</td>
                        <td>@ui.MetaType</td>
                        <td>@ui.Title</td>

                        @{
                            if (ui.IsDataColumnConnected)
                            {
                                <td> @ui.DataColumnInfo.DbName</td>
                            }
                            else if (ui.IsDataTableConnected)
                            {
                                <td> @ui.DataTableInfo.DbName</td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }

                        <td>@ui.Domain</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }






</div>