@model IUIComplexBinding

@{
    var requiredmsg = string.Format("{0} {1}", Model.LocalizedTitle, Localizer["Is Required"]);
    var DataColumn2 = "";
    if (!string.IsNullOrEmpty(Model.DataColumn2DbName))
    {
        DataColumn2 = Model.DataColumn2DbName;
    }
    else
    {
        DataColumn2 = Model.DataColumnDbName;
    }

    var orientation = "HORIZONTAL";
    if (Model.HasPropertyWithValue("ORIENTATION", "VERTICAL"))
    {
        orientation = "VERTICAL";
    }
}

<div class="form-group">
    <label class="control-label">
        @Model.LocalizedTitle  @{ if (Model.Mandatory)
            { <span style="color: red"> *</span> }}
    </label>

    <checklist id="@Model.UIId"
              name="@Model.UIId"
              class=""
              v-bind:idfield.sync="@Model.VueModelBinding"
              @if (!string.IsNullOrEmpty(Model.DataColumn2DbName)) { <text> v-bind:textfield.sync="@Model.VueModelBinding2" </text> }
              data-metatype="@Intwenty.Model.UserInterfaceStructureModelItem.MetaTypeCheckList"
              data-title="@Model.Title"
              @if (!string.IsNullOrEmpty(Model.JavaScriptObjectName)) {<text>data-contextobject="@Model.JavaScriptObjectName"</text> } else {<text>data-contextobject="@Model.DataTableDbName"</text>}
              data-dbtable="@Model.DataTableDbName"
              data-dbfield="@Model.DataColumnDbName"
              @if (!string.IsNullOrEmpty(Model.DataColumn2DbName)) { <text> data-dbfield2="@Model.DataColumn2DbName" </text> }
              data-required="@Model.Mandatory"
              data-domain="@Model.DomainName"
              data-orientation="@orientation">
    </checklist>
    <span id="invalidtxt_@Model.UIId" class="invalidInput" v-if="isRequiredNotValid('@Model.UIId')">@requiredmsg</span>
</div>