@model IUIComplexBinding

@{
    var validationfield = Model.UIId + "_validationmsg";
    var usesearch = "FALSE";
    var multiselect = "FALSE";
    var allowcreate = "FALSE";
}

    <div class="form-group">
        <label class="control-label">
            @Model.LocalizedTitle  @{ if (Model.Mandatory)
                { <span style="color: red"> *</span> }}
        </label>

        <select id="@Model.UIId"
                name="@Model.UIId"
                class="form-control form-control-sm"
                data-metatype="@Intwenty.Model.UserInterfaceStructureModelItem.MetaTypeComboBox"
                data-validationfield="@validationfield"
                data-title="@Model.Title"
                data-contextobject="@Model.JavaScriptObjectName"
                data-dbtable="@Model.DataTableDbName"
                data-dbfield="@Model.DataColumnDbName"
                data-required="@Model.Mandatory"
                data-domain="@Model.DomainName"
                data-usesearch="@usesearch"
                data-multiselect="@multiselect"
                data-allowcreate="@allowcreate">
        </select>

    </div>