@model IUIBinding

@{
    var requiredmsg = string.Format("{0} {1}", Model.LocalizedTitle, Localizer["Is Required"]);

}


<div class="form-group">
    <label class="control-label">
        @Model.LocalizedTitle @{ if (Model.Mandatory)
            { <span style="color: red"> *</span> }}
    </label>
    <input id="@Model.UIId"
           name="@Model.UIId"
           type="date"
           class="form-control form-control-sm"
           v-model="@Model.JavaScriptObjectName.@Model.DataTableDbName.@Model.DataColumnDbName"
           v-on:input="onUserInput(event)"
           data-metatype="@Intwenty.Model.UserInterfaceStructureModelItem.MetaTypeDatePicker"
           data-title="@Model.Title"
           data-dbtable="@Model.DataTableDbName"
           data-dbfield="@Model.DataColumnDbName"
           data-required="@Model.Mandatory" />
    <span id="invalidtxt_@Model.UIId" class="invalidInput" v-if="isRequiredNotValid('@Model.UIId')">@requiredmsg</span>
</div>