@model IUIBinding
@{
    var onclick = "$('#" + Model.UIId + "').trigger('click');";

    var imgwidth = "240";
    if (Model.HasProperty("IMGWIDTH"))
    {
        imgwidth = Model.GetPropertyValue("IMGWIDTH");
        if (string.IsNullOrEmpty(imgwidth))
        {
            imgwidth = "240";
        }

    }
}


<label>@Model.Title</label>
<br />
<ul class="nav">
    <li class="nav-item">
        <div class="btn btn-sm btn-primary" v-on:click="$('#@Model.UIId').trigger('click');">
            <span class="fas fa-cloud-upload-alt"></span> Upload
            <input id="@Model.UIId"
                   name="@Model.UIId"
                   type="file"
                   data-metatype="@Intwenty.Model.UserInterfaceStructureModelItem.MetaTypeImageBox"
                   data-title="@Model.LocalizedTitle"
                   data-dbtable="@Model.DataTableDbName"
                   data-dbfield="@Model.DataColumnDbName"
                   data-required="@Model.Mandatory"
                   v-on:change="onImageChanged"
                   accept="image/*" style="position: absolute; opacity: 0; right: 0; top: 0; height: 0px; width: 0px; visibility:hidden" />
        </div>
    </li>
    <li class="nav-item ml-2">
        <div  v-if="@Model.JavaScriptObjectName.@Model.DataTableDbName.@Model.DataColumnDbName">
            <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
        </div>
    </li>
</ul>
    <br />

    <img v-bind:src="@Model.JavaScriptObjectName.@Model.DataTableDbName.@Model.DataColumnDbName" width="@imgwidth" class="rounded border-light" style="margin-top:5px" />

