@model IUIComplexBinding


@{
    var validationfield = Model.UIId + "_validationmsg";

    var usesearch = "FALSE";
    var multiselect = "FALSE";
    var allowcreate = "FALSE";
    if (Model.HasPropertyWithValue("USESEARCH", "TRUE"))
    {
        usesearch = "TRUE";
    }
    if (Model.HasPropertyWithValue("MULTISELECT", "TRUE"))
    {
        multiselect = "TRUE";
    }
    if (Model.HasPropertyWithValue("ALLOWCREATE", "TRUE"))
    {
        allowcreate = "TRUE";
    }

}

<div class="form-group">
    <label class="control-label">
        @Model.LocalizedTitle  @{ if (Model.Mandatory)
            { <span style="color: red"> *</span> }}
    </label>

    <searchbox id="@Model.UIId"
            name="@Model.UIId"
            type="text"
            class="form-control form-control-sm"
            v-bind:idfield.sync="@Model.JavaScriptObjectName.@Model.DataTableDbName.@Model.DataColumnDbName"
            @if (!string.IsNullOrEmpty(Model.DataColumn2DbName)){<text>v-bind:textfield.sync="@Model.JavaScriptObjectName.@Model.DataTableDbName.@Model.DataColumn2DbName"</text>}
            data-metatype="@Intwenty.Model.UserInterfaceStructureModelItem.MetaTypeSearchBox"
            data-validationfield="@validationfield"
            data-title="@Model.Title"
            data-contextobject="@Model.JavaScriptObjectName"
            data-dbtable="@Model.DataTableDbName"
            data-dbfield="@Model.DataColumnDbName"
            @if (!string.IsNullOrEmpty(Model.DataColumn2DbName)){<text>data-dbfield2="@Model.DataColumn2DbName"</text>}
            data-required="@Model.Mandatory"
            data-domain="@Model.DomainName"
            data-usesearch="@usesearch"
            data-multiselect="@multiselect"
            data-allowcreate="@allowcreate"
           
           />


</div>


