@page "{OrganizationId}/{ProductId}"
@model OrganizationProductModel
@{
    ViewData["Title"] = "Edit ";
}

@await Html.PartialAsync("_Modals")


<div id="app">

    <br />
    <br />
    <div class="card">
        <div class="card-header"><h2>Organization Product</h2></div>
        <div class="card-body">Manage the product <b>{{model.productName}}</b> for the organization <b>{{model.organizationName}}</b> </div>
    </div>
    <br />
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="savealert" v-if="model.modelSaved">
        <strong>Changes have been saved !</strong><br />
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <ul class="nav">
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/IAM/Organization" asp-route-id="@Model.OrganizationId" role="button" class="btn btn-sm btn-outline-secondary" style="margin:10px"><span class="far fa-hand-point-left" style="font-size:large"></span> Back</a>
        </li>
        <li class="nav-item">
            <button class="btn btn-sm btn-outline-primary" type="button" v-on:click="updateEntity()" style="margin:10px"><span class="fa fa-save" style="font-size:large"></span> Save</button>
        </li>
    </ul>
    <br />

    <div class="form-group">
        <label class="control-label">API Path<span style="color: red"> *</span></label>
        <input id="tb_apipath" type="text" class="form-control form-control-sm" v-model="model.apiPath" />
    </div>

    <div class="form-group">
        <label class="control-label">Product URI<span style="color: red"> *</span></label>
        <input id="tb_produri" type="text" class="form-control form-control-sm" v-model="model.productURI" />
    </div>

    <br />

    <div style="margin-left:10px">
        <ul class="nav">
            <li class="nav-item">
                <button class="btn btn-sm btn-secondary" v-on:click="addRoleAuth()" style="margin-right:10px"><span class="fa fa-plus"></span></button>
            </li>
            <li class="nav-item">
                <h5>Roles</h5>
            </li>
        </ul>
        <p><i>By adding roles the organization will be granted access to the product according to the role</i></p>
    </div>
    <br />
    <table class="table table">
        <thead>
            <tr>
                <th style="width:5%"></th>
                <th style="width:30%">Name</th>
            </tr>
        </thead>
        <tbody v-for="item in model.roleAuthorizations">
            <tr>
                <td><div class="btn btn-sm btn-danger" v-on:click="removeAuthorizationItem(item)" title="Remove"><i class="fa fa-trash"></i></div></td>
                <td>{{item.authorizationName}}</td>
            </tr>
        </tbody>
    </table>

    <hr />
    <br />

    <div style="margin-left:10px">
        <ul class="nav">
            <li class="nav-item">
                <button class="btn btn-sm btn-secondary" v-on:click="addSystemAuth()" style="margin-right:10px"><span class="fa fa-plus"></span></button>
            </li>
            <li class="nav-item">
                <h5>System Permission</h5>
            </li>
        </ul>
        <p><i>By adding system-permissions the organization will be granted access to all applications in a system in the product</i></p>
    </div>
    <br />
    <table class="table table">
        <thead>
            <tr>
                <th style="width:5%"></th>
                <th style="width:30%">Name</th>
                <th style="width:10%">Read</th>
                <th style="width:10%">Modify</th>
                <th style="width:10%">Delete</th>
            </tr>
        </thead>
        <tbody v-for="item in model.systemAuthorizations">
            <tr>
                <td><div class="btn btn-sm btn-danger" v-on:click="removeAuthorizationItem(item)" title="Remove"><i class="fa fa-trash"></i></div></td>
                <td>{{item.authorizationName}}</td>
                <td><span v-if="item.read">Yes</span><span v-if="!item.read">No</span></td>
                <td><span v-if="item.modify">Yes</span><span v-if="!item.modify">No</span></td>
                <td><span v-if="item.delete">Yes</span><span v-if="!item.delete">No</span></td>
            </tr>
        </tbody>
    </table>

    <hr />
    <br />

    <div style="margin-left:10px">
        <ul class="nav">
            <li class="nav-item">
                <button class="btn btn-sm btn-secondary" v-on:click="addApplicationAuth()" style="margin-right:10px"><span class="fa fa-plus"></span></button>
            </li>
            <li class="nav-item">
                <h5>Application Permission</h5>
            </li>
        </ul>
        <p><i>By adding application-permissions the organization will be granted access to applications in the product</i></p>
    </div>
    <br />
    <table class="table table">
        <thead>
            <tr>
                <th style="width:5%"></th>
                <th style="width:30%">Name</th>
                <th style="width:10%">Read</th>
                <th style="width:10%">Modify</th>
                <th style="width:10%">Delete</th>
            </tr>
        </thead>
        <tbody v-for="item in model.applicationAuthorizations">
            <tr>
                <td><div class="btn btn-sm btn-danger" v-on:click="removeAuthorizationItem(item)" title="Remove"><i class="fa fa-trash"></i></div></td>
                <td>{{item.authorizationName}}</td>
                <td><span v-if="item.read">Yes</span><span v-if="!item.read">No</span></td>
                <td><span v-if="item.modify">Yes</span><span v-if="!item.modify">No</span></td>
                <td><span v-if="item.delete">Yes</span><span v-if="!item.delete">No</span></td>
            </tr>
        </tbody>
    </table>

    <hr />
    <br />

    <div style="margin-left:10px">
        <ul class="nav">
            <li class="nav-item">
                <button class="btn btn-sm btn-secondary" v-on:click="addViewAuth()" style="margin-right:10px"><span class="fa fa-plus"></span></button>
            </li>
            <li class="nav-item">
                <h5>View Permission</h5>
            </li>
        </ul>
        <p><i>By adding application-view-permissions the organization will be granted access to views in the product</i></p>
    </div>

    <br />

    <table class="table table">
        <thead>
            <tr>
                <th style="width:5%"></th>
                <th style="width:30%">Name</th>
                <th style="width:10%">Read</th>
                <th style="width:10%">Modify</th>
                <th style="width:10%">Delete</th>
            </tr>
        </thead>
        <tbody v-for="item in model.viewAuthorizations">
            <tr>
                <td><div class="btn btn-sm btn-danger" v-on:click="removeAuthorizationItem(item)" title="Remove"><i class="fa fa-trash"></i></div></td>
                <td>{{item.authorizationName}}</td>
                <td><span v-if="item.read">Yes</span><span v-if="!item.read">No</span></td>
                <td><span v-if="item.modify">Yes</span><span v-if="!item.modify">No</span></td>
                <td><span v-if="item.delete">Yes</span><span v-if="!item.delete">No</span></td>
            </tr>
        </tbody>
    </table>

    <hr />

    <div class="modal" id="addAuthorizationModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Authorize {{authorization.authorizationItemTypeName}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" v-if="authorization.authorizationType=='ROLE'">
                        <label class="control-label">Select Role<span style="color: red"> *</span></label>
                        <select v-model="authorization.authorizationId" class="form-control form-control-sm">
                            <option v-for="item in authitem.roleItems" v-bind:value="item.id">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="form-group" v-if="authorization.authorizationType=='SYSTEM'">
                        <label class="control-label">Select System<span style="color: red"> *</span></label>
                        <select v-model="authorization.authorizationId" class="form-control form-control-sm">
                            <option v-for="item in authitem.systemItems" v-bind:value="item.id">{{item.name}}</option>
                        </select>
                        <input type="checkbox" v-model="authorization.read" /> Read
                        <input type="checkbox" v-model="authorization.modify" /> Modify
                        <input type="checkbox" v-model="authorization.delete" /> Delete
                    </div>
                    <div class="form-group" v-if="authorization.authorizationType=='APPLICATION'">
                        <label class="control-label">Select Application<span style="color: red"> *</span></label>
                        <select v-model="authorization.authorizationId" class="form-control form-control-sm">
                            <option v-for="item in authitem.applicationItems" v-bind:value="item.id">{{item.name}}</option>
                        </select>
                        <input type="checkbox" v-model="authorization.read" /> Read
                        <input type="checkbox" v-model="authorization.modify" /> Modify
                        <input type="checkbox" v-model="authorization.delete" /> Delete
                    </div>
                    <div class="form-group" v-if="authorization.authorizationType=='VIEW'">
                        <label class="control-label">Select View<span style="color: red"> *</span></label>
                        <select v-model="authorization.authorizationId" class="form-control form-control-sm">
                            <option v-for="item in authitem.viewItems" v-bind:value="item.id">{{item.name}}</option>
                        </select>
                        <input type="checkbox" v-model="authorization.read" /> Read
                        <input type="checkbox" v-model="authorization.modify" /> Modify
                        <input type="checkbox" v-model="authorization.delete" /> Delete
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addAuthorizationModal_okBtn" type="button" class="btn btn-sm btn-primary" data-dismiss="modal" :disabled="authorization.authorizationId==0">Ok</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>


</div>

@section Scripts
    {

    <script>

        var app = new Vue({
            el: '#app',
            data:
            {
                model: {},
                authorization: {},
                authitem: {},
                users: [],
                idgen: -1
            },
            methods: {

                updateEntity: function ()
                {
                    var context = this;
                    var baseurl = '@Url.Content("~/Identity/IAM/")';
                    var endpointurl = baseurl + "OrganizationProduct/@Model.OrganizationId/@Model.ProductId?handler=UpdateEntity";
                    var antiforgerytoken = '@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken';

                    $.ajax({
                        url: endpointurl,
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(context.model),
                        headers: {
                            RequestVerificationToken: antiforgerytoken
                        },
                        success: function (response)
                        {
                            context.model = response;
                            context.model.modelSaved = true;
                            setTimeout(function () { context.model.modelSaved = false; }, 3000);
                        },
                        error: function (response)
                        {
                            //raiseErrorModal(response.responseJSON);
                        }
                    });
                },
                removeAuthorizationItem: function (item)
                {
                    var context = this;
                    var yesfunc = function ()
                    {

                        var baseurl = '@Url.Content("~/Identity/IAM/")';
                        var endpointurl = baseurl + "OrganizationProduct/@Model.OrganizationId/@Model.ProductId?handler=RemoveAuthorization";
                        var antiforgerytoken = '@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken';

                        $.ajax({
                            url: endpointurl,
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(item),
                            headers: {
                                RequestVerificationToken: antiforgerytoken
                            },
                            success: function (response) {
                                context.model = response;
                            },
                            error: function (response) {
                                //raiseErrorModal(response.responseJSON);
                            }
                        });
                     }

                    raiseYesNoModal("Remove Authorization ?", "Selected authorization item will be removed from the user, continue ?", yesfunc);
                },
                addRoleAuth: function ()
                {

                    var context = this;

                    context.authorization = { authorizationType: "ROLE", authorizationId: 0, authorizationItemTypeName: "Role", userId:"", organizationId:0, productId:"" }

                    var okfunc = function ()
                    {

                        context.authorization.organizationId = @Model.OrganizationId;
                        context.authorization.productId = "@Model.ProductId";

                        var baseurl = '@Url.Content("~/Identity/IAM/")';
                        var endpointurl = baseurl + "OrganizationProduct/@Model.OrganizationId/@Model.ProductId?handler=AddRoleAuthorization";
                        var antiforgerytoken = '@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken';

                        $.ajax({
                            url: endpointurl,
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(context.authorization),
                            headers: {
                                RequestVerificationToken: antiforgerytoken
                            },
                            success: function (response)
                            {
                                context.model = response;
                            },
                            error: function (response)
                            {
                                //raiseErrorModal(response.responseJSON);
                            }
                        });
                    }

                    $("#addAuthorizationModal_okBtn").off().on('click', okfunc);
                    $("#addAuthorizationModal").modal();
                },
                addSystemAuth: function ()
                {
                    var context = this;
                    context.authorization = { authorizationType: "SYSTEM", authorizationId: 0, authorizationItemTypeName: "System", userId:"", organizationId:0, productId:"", read:false, modify:false, delete:false }

                    var okfunc = function ()
                    {

                        context.authorization.organizationId = @Model.OrganizationId;
                        context.authorization.productId = "@Model.ProductId";

                        var baseurl = '@Url.Content("~/Identity/IAM/")';
                        var endpointurl = baseurl + "OrganizationProduct/@Model.OrganizationId/@Model.ProductId?handler=AddSystemAuthorization";
                        var antiforgerytoken = '@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken';

                        $.ajax({
                            url: endpointurl,
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(context.authorization),
                            headers: {
                                RequestVerificationToken: antiforgerytoken
                            },
                            success: function (response)
                            {
                                context.model = response;
                            },
                            error: function (response)
                            {
                                //raiseErrorModal(response.responseJSON);
                            }
                        });
                    }

                    $("#addAuthorizationModal_okBtn").off().on('click', okfunc);
                    $("#addAuthorizationModal").modal();
                },
                addApplicationAuth: function ()
                {
                     var context = this;
                    context.authorization = { authorizationType: "APPLICATION", authorizationId: 0, authorizationItemTypeName: "Application", userId:"", organizationId:0, productId:"", read:false, modify:false, delete:false }

                    var okfunc = function ()
                    {

                        context.authorization.organizationId = @Model.OrganizationId;
                        context.authorization.productId = "@Model.ProductId";

                        var baseurl = '@Url.Content("~/Identity/IAM/")';
                        var endpointurl = baseurl + "OrganizationProduct/@Model.OrganizationId/@Model.ProductId?handler=AddApplicationAuthorization";
                        var antiforgerytoken = '@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken';

                        $.ajax({
                            url: endpointurl,
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(context.authorization),
                            headers: {
                                RequestVerificationToken: antiforgerytoken
                            },
                            success: function (response)
                            {
                                context.model = response;
                            },
                            error: function (response)
                            {
                                //raiseErrorModal(response.responseJSON);
                            }
                        });
                    }

                    $("#addAuthorizationModal_okBtn").off().on('click', okfunc);
                    $("#addAuthorizationModal").modal();

                },
                addViewAuth: function ()
                {
                     var context = this;
                    context.authorization = { authorizationType: "VIEW", authorizationId: 0, authorizationItemTypeName: "View", userId:"", organizationId:0, productId:"", read:false, modify:false, delete:false }

                    var okfunc = function ()
                    {
                        context.authorization.organizationId = @Model.OrganizationId;
                        context.authorization.productId = "@Model.ProductId";

                        var baseurl = '@Url.Content("~/Identity/IAM/")';
                        var endpointurl = baseurl + "OrganizationProduct/@Model.OrganizationId/@Model.ProductId?handler=AddViewAuthorization";
                        var antiforgerytoken = '@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken';

                        $.ajax({
                            url: endpointurl,
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(context.authorization),
                            headers: {
                                RequestVerificationToken: antiforgerytoken
                            },
                            success: function (response)
                            {
                                context.model = response;
                            },
                            error: function (response)
                            {
                                //raiseErrorModal(response.responseJSON);
                            }
                        });
                    }

                    $("#addAuthorizationModal_okBtn").off().on('click', okfunc);
                    $("#addAuthorizationModal").modal();

                }

            },
            computed:
            {
                example: function ()
                {

                }

            },
            mounted: function ()
            {
                var context = this;
                var baseurl = '@Url.Content("~/Identity/IAM/")';
                var endpointurl = baseurl + "OrganizationProduct/@Model.OrganizationId/@Model.ProductId?handler=Load";
                $.get(endpointurl, function (response)
                {
                    context.model = response;
                     var endpointurl = baseurl +  "OrganizationProduct/@Model.OrganizationId/@Model.ProductId?handler=LoadAuthItems";
                     $.get(endpointurl, function (response)
                     {
                         context.authitem = response;

                     });
                });
            }
        });
    </script>

}

