
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intwenty - @ViewData["Title"]</title>
    <meta name="google" content="notranslate" />
    <meta name="description" content="Intwenty Demo. Login and try out Intwenty it's free." />
    <meta name="keywords" content="cms,blogg engine,open source" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.12.1-web/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2-bootstrap-theme/select2-bootstrap.min.css" />
</head>

@{

    var currentpath = Context.Request.Path.ToUriComponent();
    var ishomepath = string.IsNullOrEmpty(currentpath) || currentpath.Length < 5 || currentpath.Contains("Home/Index");
}


<body class="@(ishomepath ? "landingpage" : "")">


    <div class="container">
        @if (ishomepath)
        {
            <partial name="_CookieConsentPartial" />

        }

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Intwenty</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">

                <ul class="nav navbar-nav mr-auto">

                    @if (User.Identity.IsAuthenticated)
                    {
                        @await Html.PartialAsync("_IntwentyAppMenu")

                        @if (User.IsInRole("SUPERADMIN") || User.IsInRole("SYSTEMADMIN"))
                        {
                            @await Html.PartialAsync("_IntwentyAdminMenu")
                        }

                        @if (User.IsInRole("SUPERADMIN") || (User.IsInRole("USERADMIN") && !Settings.Value.UseSeparateIAMDatabase))
                        {
                            //IF NOT CENTRALIZED IAM DB, ALLOW USERADMIN TO IAM
                            @await Html.PartialAsync("_IntwentyIdentityAccessMenu")
                        }

                        @if (User.IsInRole("SUPERADMIN") || User.IsInRole("SYSTEMADMIN") || User.IsInRole("APIUSER"))
                        {
                            @await Html.PartialAsync("_IntwentyAPIMenu")
                        }
                    }



                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </div>




    <div class="container body-content">


        @RenderBody()

        @if (!ishomepath)
        {
            <hr />
            <footer>
                <p>&copy; @Localizer["COPYRIGHT"]</p>
            </footer>
            <br />
            <br />
            <partial name="_CookieConsentPartial" />
        }
    </div>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/alasql/alasql.min.js"></script>
    <script src="~/lib/xlsx/xlsx.core.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap-4.4.1/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/vue/vue.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/js/intwenty.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)

</body>
</html>
