@model Intwenty.Model.ApplicationModel

@{
    ViewData["Title"] = "Create New " + Model.Application.Title;

    if (!Model.UIStructure.Exists(p => p.IsRoot && p.IsMetaTypeSection))
    {
        <h1><span class="label label-warning btn-lg">There's no UI model defined for this application yet.</span></h1>
        return;
    }

}

@await Html.PartialAsync("_Modals")

<div id="app">

    <br />

    <div class="card">
        <div class="card-header"><h2>Create new @Model.Application.Title</h2></div>
        <div class="card-body">
            <ul class="nav">
                <li class="nav-item">
                    <a asp-action="GetList" asp-controller="Application" asp-route-id="@Model.Application.Id" role="button" class="btn btn-sm btn-outline-secondary" style="margin:10px"><span class="far fa-hand-point-left" style="font-size:large"></span> Back to list</a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-sm btn-outline-primary" type="button" v-on:click="saveApplication()" style="margin:10px"><span class="fa fa-save" style="font-size:large"></span> Save</button>
                </li>
            </ul>
        </div>
    </div>

    <br />


    @await Html.PartialAsync("_DefaultAppUI", Model)


</div>

@section Scripts
    {

    <script src="~/js/intwenty.js"></script>
    <script>
        Vue.prototype.runMounted = function () {

           var context = this;
            var baseurl = '@Url.Content("~/Application/")';
            var endpointurl = baseurl + "GetValueDomains/@Model.Application.Id";
            $.get(endpointurl, function (response) {
                context.valuedomains = JSON.parse(response.data);
                endpointurl = baseurl + "CreateNew/@Model.Application.Id";
                $.get(endpointurl, function (response)
                {
                    context.model = JSON.parse(response.data);
                });
            });

        };

        Vue.prototype.runSave = function () {

            var context = this;
            var baseurl = '@Url.Content("~/Application/")';
            var endpointurl = baseurl + "Save";

            this.model['@Model.Application.DbName'].ApplicationId = @Model.Application.Id;

            if (!context.canSave())
                return;


            $.ajax({
                url: endpointurl,
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(this.model),
                success: function (response) {
                    if (response.isSuccess) {
                        context.model['@Model.Application.DbName'].Id = response.id;
                        context.model['@Model.Application.DbName'].Version = response.version;
                        //endpointurl = baseurl + "Open/@Model.Application.Id/" + response.id;
                        endpointurl = baseurl + "GetList/@Model.Application.Id";
                        window.location.href = endpointurl;
                    }
                    else {
                        $("#msg_dlg_modal_text").text("");
                        $("#msg_dlg_modal_text").text(response.messages[0].message);
                        $("#msg_dlg_modal").modal();

                        //alert(response.messages[0].message);
                    }
                }
            });

        };

        var app = getVueCreateUpdate('#app',@Model.Application.Id, '@Model.Application.DbName','@Url.Content("~/Application/")');


    </script>



}
