@model Intwenty.Model.ApplicationModel

@{
    ViewData["Title"] = "Edit " + Model.Application.Title + " (" + ViewBag.SystemId + ")";
}

@await Html.PartialAsync("_Modals")

<div id="app">

    <br />

    <div class="card">
        <div class="card-header"><h2>@Localizer["Edit"] @Model.Application.Title</h2></div>
        <div class="card-body">
            <ul class="nav">
                <li class="nav-item">
                    <a asp-action="GetList" asp-controller="Application" asp-route-id="@Model.Application.Id" role="button" class="btn btn-sm btn-outline-secondary" style="margin:10px"><span class="far fa-hand-point-left" style="font-size:large"></span> Back to list</a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-sm btn-outline-primary" type="button" v-on:click="saveApplication()" style="margin:10px"><span class="fa fa-save" style="font-size:large"></span> @Localizer["Save"]</button>
                </li>
            </ul>
        </div>
    </div>

    <br />


    @await Html.PartialAsync("_DefaultAppUI", Model)


</div>

@section Scripts
{

 
    <script>
        Vue.prototype.runMounted = function () {

            var context = this;
            var baseurl = '@Url.Content("~/Application/API/")';
            var endpointurl = baseurl + "GetLatestVersion/@Model.Application.Id/@ViewBag.SystemId";

            $.get(endpointurl, function (response) {
                context.model = JSON.parse(response.data);
                endpointurl = baseurl + "GetValueDomains/@Model.Application.Id";
                $.get(endpointurl, function (response) {
                    context.valuedomains = JSON.parse(response.data);
                });
            });

        };

        Vue.prototype.runSave = function () {

            var context = this;
            var baseurl = '@Url.Content("~/Application/API/")';
            var endpointurl = baseurl + "Save";

            this.model['@Model.Application.DbName'].ApplicationId = @Model.Application.Id;

            if (!context.canSave())
                return;


            $.ajax({
                url: endpointurl,
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(this.model),
                success: function (response)
                {
                    if (response.isSuccess) {
                        window.location.reload(true);
                    }
                    else
                    {
                       raiseErrorModal(response);
                    }
                }
            });

        };

        var app = getVueCreateUpdate('#app',@Model.Application.Id, '@Model.Application.DbName','@Url.Content("~/Application/API/")');


    </script>


}