@model Intwenty.Model.ViewModel

@{

    var mainDbName = Model.ApplicationInfo.DbName;
    var applicationId = Model.ApplicationInfo.Id;
    var applicationViewId = Model.Id;
    int instanceid = (int)ViewBag.Id;
    var aftersaveaction = string.Empty;
    var aftersaveactionpath = string.Empty;
    var modalinputs = Model.GetModalFunctions();
}



<br />
<br />

@await Html.PartialAsync("_Modals")


<div id="app">

    @foreach (var iface in Model.UserInterface)
    {
        @foreach (var mip in iface.ModalInterfaces)
        {

            <div class="modal" id="addEditModal_@mip.MetaCode" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">@mip.LocalizedTitle</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="addEditModalBody_@mip.MetaCode">

                                @if (iface.IsMetaTypeListInterface && mip.IsMetaTypeInputInterface && mip.DataTableDbName == Model.ApplicationInfo.DbName)
                                {
                                    mip.CurrentRenderContext = CurrentRenderContextOptions.ModalView;
                                    @await Html.PartialAsync("UISections/_InputInterface", mip);
                                }
                                @if (iface.IsMetaTypeInputInterface && mip.IsMetaTypeInputInterface && iface.DataTableDbName != Model.ApplicationInfo.DbName)
                                {
                                    mip.CurrentRenderContext = CurrentRenderContextOptions.ModalSubTable;
                                    @await Html.PartialAsync("UISections/_InputInterface", mip);
                                }

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="addEditModalSaveBtn_@mip.MetaCode" type="button" class="btn btn-sm btn-primary" data-dismiss="modal">@Localizer["Save"]</button>
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

    <div class="card">
        <div class="card-header"><h2>@Model.LocalizedTitle</h2></div>
        <div class="card-body">

            <p>@Model.LocalizedDescription</p>

            <ul class="nav">
                @if (Model.HasCreateFunction)
                {
                    <li class="nav-item">
                        @if (Model.CreateFunction.IsModalAction)
                        {
                            <button class="nav-link btn btn-sm btn-outline-secondary" style="margin:10px" v-on:click="openApplicationModal(null, '@Model.CreateFunction.ActionUserInterfaceMetaCode')"><span class="fa fa-plus" style="font-size:large"></span> @Model.CreateFunction.LocalizedTitle</button>
                        }
                        else
                        {
                            <a href="@Model.CreateFunction.ActionPath" role="button" class="nav-link btn btn-sm btn-outline-secondary" style="margin:10px"><span class="fa fa-plus" style="font-size:large"></span> @Model.CreateFunction.LocalizedTitle</a>

                        }

                    </li>
                }

                @if (Model.HasNavigateFunction)
                {
                    <li class="nav-item">
                        <a href="@Model.NavigateFunction.ActionPath" role="button" class="nav-link btn btn-sm btn-outline-secondary" style="margin:10px"><span class="fa fa-plus" style="font-size:large"></span> @Model.NavigateFunction.LocalizedTitle</a>
                    </li>
                }

                @if (Model.HasExportFunction)
                {
                    <li class="nav-item">
                        <button class="nav-link btn btn-sm btn-outline-secondary" type="button" v-on:click="exportToExcel()" style="margin:10px"><span class="fa fa-file-export" style="color:seagreen; font-size:large"></span> @Model.ExportFunction.LocalizedTitle</button>
                    </li>
                }

                @if (Model.HasSaveFunction)
                {
                    <li class="nav-item">
                        <button class="nav-link btn btn-sm btn-outline-primary" type="button" v-on:click="saveApplication()" style="margin:10px"><span class="fa fa-save" style="font-size:large"></span> @Model.SaveFunction.LocalizedTitle</button>
                    </li>

                    aftersaveaction = Model.SaveFunction.GetPropertyValue("AFTERSAVEACTION");
                    if (aftersaveaction == "GOTOLISTVIEW")
                    {
                        aftersaveactionpath = Model.SaveFunction.GetPropertyValue("GOTOLISTVIEWPATH");
                    }
                }
            </ul>

        </div>
    </div>

    <br />

    <div class="alert alert-success alert-dismissible fade show" role="alert" id="savealert" v-if="modelSaved">
        <strong>@Localizer["Changes Saved"] !</strong><br />
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    @foreach (var iface in Model.UserInterface)
    {
        iface.CurrentRenderContext = CurrentRenderContextOptions.View;

        if (iface.IsMetaTypeInputInterface)
        {
            @await Html.PartialAsync("UISections/_InputInterface", iface)
        }

        if (iface.IsMetaTypeListInterface && iface.Table.Id > 0)
        {

            <br />

            @if (iface.HasFilterFunction)
            {

                <div class="row">

                    <div class="col-lg-7">

                        <button v-on:click="model.showFilter=!model.showFilter">
                            <i class="fas fa-search"></i>
                            <span v-if="model.showFilter">Hide Filter</span>
                            <span v-if="!model.showFilter">Show Filter</span>
                        </button>

                        <br />
                        <br />

                        <fieldset style="padding:5px; border:1px solid black; border-radius:4px" v-if="model.showFilter">

                            <div class="row">
                                <div class="col-lg-5"><button type="button" v-on:click="addFilterValue()"><span class="fa fa-plus"></span> Add filter</button></div>
                                <div class="col-lg-5"></div>
                                <div class="col-lg-2"></div>
                            </div>

                            <div class="mt-2"></div>

                            <div class="row" v-for="filteritem in pageInfo.filterValues">

                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <select v-model="filteritem.name" class="form-control form-control-sm" placeholder="Filter">
                                            @{
                                                foreach (var c in iface.Table.Columns)
                                                {
                                                    <option value="@c.DataColumnDbName">@c.LocalizedTitle</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-sm" v-model="filteritem.value" v-on:blur="runFilter()" placeholder="Value to filter on" />
                                    </div>
                                </div>

                                <div class="col-lg-2">
                                    <button type="button" class="btn btn-sm btn-danger" v-on:click="deleteFilterValue(filteritem)"><i class="fa fa-trash"></i></button>
                                </div>



                            </div>



                        </fieldset>

                    </div>
                    <div class="col-lg-5"></div>

                </div>


            }

            @if (iface.HasCreateFunction && Model.IsApplicationInputView())
            {
                @if (iface.CreateFunction.IsModalAction)
                {
                    <button class="nav-link btn btn-sm btn-outline-secondary" v-on:click="openSubTableModal(null,'@iface.CreateFunction.ActionUserInterfaceMetaCode')"><span class="fa fa-plus"></span> @iface.CreateFunction.LocalizedTitle</button>
                }
            }

            <table class="table table-responsive-sm">
                <thead>
                    <tr>
                        @if (iface.HasDeleteFunction)
                        {
                            <th style="width:5%"></th>
                        }
                        @if (iface.HasEditFunction)
                        {
                            <th style="width:5%"></th>
                        }

                        @{
                            foreach (var c in iface.Table.Columns)
                            {
                                <th v-on:click="sortBycolumn('@c.DataColumnDbName')" style="cursor:pointer">@c.LocalizedTitle <span class="fa fa-sort-alpha-down-alt"></span></th>

                            }
                        }
                    </tr>
                </thead>
                <tr v-for="item in sortedResults">
                    @if (iface.HasDeleteFunction)
                    {
                        <td style="vertical-align:middle"><button class="btn btn-sm btn-danger" v-on:click="deleteApplication(item)"><span class="fas fa-trash" title="Remove"></span></button></td>
                    }
                    @if (iface.HasEditFunction)
                    {
                        @if (iface.EditFunction.IsModalAction && Model.IsApplicationListView())
                        {
                            <td style="vertical-align:middle"><button class="btn btn-sm btn-secondary" v-on:click="openApplicationModal(item, '@iface.EditFunction.ActionUserInterfaceMetaCode')"><span class="fas fa-edit" title="Edit"></span></button></td>
                        }
                        else if (iface.EditFunction.IsModalAction && Model.IsApplicationInputView())
                        {
                            <td style="vertical-align:middle"><button class="btn btn-sm btn-secondary" v-on:click="openSubTableModal(item, '@iface.EditFunction.ActionUserInterfaceMetaCode')"><span class="fas fa-edit" title="Edit"></span></button></td>
                        }
                        else
                        {
                            <td style="vertical-align:middle"><a v-bind:href="'@iface.EditFunction.ActionPath/' + item.Id" class="btn btn-sm btn-secondary" role="button"><span class="fas fa-edit" title="Edit"></span></a></td>
                        }

                    }

                    @{
                        foreach (var c in iface.UIStructure.Where(p => !p.IsRoot))
                        {

                            if (c.IsMetaTypeImage)
                            {
                                <td>
                                    <img v-bind:src="item.@c.DataColumnDbName" width="80" class="rounded" />
                                </td>
                            }
                            else
                            {
                                <td>{{item.@c.DataColumnDbName}}</td>
                            }
                        }

                    }

                </tr>

            </table>

            @if (iface.HasPagingFunction)
            {
                <nav>
                    <ul class="pagination">
                        <li class="page-item" v-bind:class="{ disabled: isFirstPage }"><a class="page-link" href="#" v-on:click="prevpage()">Previous {{pageInfo.pageSize}}</a></li>
                        <li class="page-item" v-bind:class="{ disabled: isLastPage }"><a class="page-link" href="#" v-on:click="nextpage()">Next {{pageInfo.pageSize}}</a></li>
                    </ul>
                </nav>
            }
        }




    }




</div>

@section Scripts
{

    <script>

        var modalapps = [];

        var app = new Vue({
            el: '#app',
            data: {
                baseurl: '@Url.Content("~/Application/API/")'
                ,appMainTable: '@mainDbName'
                ,appId: @applicationId
                ,applicationViewId: @applicationViewId
                ,instanceId: @instanceid
                ,applist: []
                ,model: { showFilter: false, ['@mainDbName']: {} }
                ,currentline: { }
                ,pageInfo: { applicationId: @applicationId, applicationViewId: @applicationViewId, maxCount: 0, pageSize: 20, pageNumber: 0, filterValues: [] }
                ,currentSort: ''
                ,currentSortDir: 'asc'
                ,validation: {}
                ,aftersaveaction:'@aftersaveaction'
                ,aftersaveactionpath: '@aftersaveactionpath'
                ,modelSaved: false
            },
            methods:
            {


                openApplicationModal: function (item, uimetacode)
                {
                    var context = this;


                    var savefunc = function ()
                    {
                        var saveendpoint = context.baseurl + "Save";
                        context.model[context.appMainTable].ApplicationId = context.appId;
                        context.model[context.appMainTable].ApplicationViewId = context.applicationViewId;

                        $.ajax({
                            url: saveendpoint,
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(context.model),
                            success: function (response)
                            {
                                @if (Model.IsApplicationListView())
                                {
                                        <text>
                                    context.modelSaved = true;
                                    context.getPage();
                                    setTimeout(function () { context.modelSaved = false; }, 3000);
                                    </text>
                                }
                            },
                            error: function (response)
                            {
                                raiseErrorModal(response);
                            }
                        });
                    };


                    if (item)
                    {
                         context.model[context.appMainTable] = {};
                         context.model[context.appMainTable] = item;
                        $('#addEditModalSaveBtn_' + uimetacode).off('click', savefunc);
                        $('#addEditModalSaveBtn_' + uimetacode).off().on('click', savefunc);
                        $('#addEditModal_' + uimetacode).modal();

                    }
                    else
                    {

                        var endpointurl = context.baseurl + "CreateNew/" + context.appId;
                        $.get(endpointurl, function (response)
                        {
                            context.model = JSON.parse(response.data);

                        }).done(function (){
                            $('#addEditModalSaveBtn_' + uimetacode).off('click', savefunc);
                            $('#addEditModalSaveBtn_' + uimetacode).off().on('click', savefunc);
                            $('#addEditModal_' + uimetacode).modal();

                        });
                    }

                    //context.setUpControls();

                },
                openSubTableModal: function (item, uimetacode) {
                    raiseInformationModal('Not implemented yet', uimetacode);
                },
                saveApplication: function () {
                    var context = this;
                    var endpointurl = context.baseurl + "Save";

                    context.model[context.appMainTable].ApplicationId = context.appId;
                    context.model[context.appMainTable].ApplicationViewId = context.applicationViewId;

                    if (!context.canSave())
                        return;

                    $.ajax({
                        url: endpointurl,
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(this.model),
                        success: function (response)
                        {
                            if (response.isSuccess)
                            {
                                if (context.aftersaveaction == 'GOTOLISTVIEW' && context.aftersaveactionpath != '') {
                                    endpointurl = '@Url.Content("~/" + aftersaveactionpath)';
                                    window.location.href = endpointurl;
                                }
                                else if (context.aftersaveaction == 'REFRESH')
                                {
                                    context.instanceId = response.id;
                                    context.modelSaved = true;
                                    context.getApplication();
                                    setTimeout(function () { context.modelSaved = false; }, 3000);
                                }

                            }
                        },
                        error: function (response)
                        {
                            raiseErrorModal(response);
                        }
                    });
                },
                onImageChanged: function (event)
                {
                    this.uploadImage(event);
                },
                getPage: function ()
                {
                    var context = this;
                    var endpointurl = context.baseurl + "GetPagedList";

                    this.pageInfo.applicationViewId = context.applicationViewId;

                    $.ajax({
                        url: endpointurl,
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(this.pageInfo),
                        success: function (response) {
                            //DATA
                            context.applist = JSON.parse(response.data);

                            //UPDATE CURRENT PAGE INFO
                            context.pageInfo = response.listFilter;
                            if (context.pageInfo.filterValues.length === 0)
                                context.addFilterValue();
                        }
                    });
                },
                sortBycolumn: function (s) {
                    //if s == current sort, reverse
                    if (s === this.currentSort) {
                        this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
                    }
                    this.currentSort = s;
                },
                exportToExcel: function ()
                {
                    var context = this;
                    var args =  { applicationId: @applicationId, applicationViewId: @applicationViewId, maxCount: 0, pageSize: 20000, pageNumber: 0, filterValues: [], skipPaging:true }
                    var endpointurl = context.baseurl + "GetPagedList";

                    $.ajax({
                        url: endpointurl,
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(args),
                        success: function (response) {
                            var data = JSON.parse(response.data);
                            alasql.promise('SELECT * INTO XLSX("download.xlsx",{headers:true}) FROM ?', [data])
                                .then(function (data) {
                                    console.log('Data saved');
                                }).catch(function (err) {
                                    console.log('Error:', err);
                                });
                        }
                    });
                },
                deleteApplication: function (item) {
                    var context = this;
                    var endpointurl = context.baseurl + "Delete";

                    var deleteapp = function ()
                    {
                        item.ApplicationId = context.appId;
                        item.ApplicationViewId = context.applicationViewId;

                        $.ajax({
                            url: endpointurl,
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(item),
                            success: function (response)
                            {
                                context.getPage();
                            },
                            error: function (response)
                            {
                                raiseErrorModal(response);
                            }
                        });
                    };

                    raiseYesNoModal("Delete ?", "This record will be deleted, are you sure ?", deleteapp);
                },
                getApplication: function ()
                {
                    var context = this;
                    var endpointurl = context.baseurl + "GetApplication/" + context.appId + "/" + context.applicationViewId + "/" + context.instanceId;
                    $.get(endpointurl, function (response) {
                        context.model = JSON.parse(response.data);
                    }).done(function () {
                        context.$forceUpdate();
                    });
                },
                createNewApplication: function ()
                {
                    var context = this;
                    var endpointurl = context.baseurl + "CreateNew/" + context.appId;
                    $.get(endpointurl, function (response) {
                        context.model = JSON.parse(response.data);
                    }).done(function () {
                        //context.setUpControls();
                    });
                }

            },
            computed: {

                sortedResults: function () {
                    return this.applist.sort((a, b) => {
                        let modifier = 1;
                        if (this.currentSortDir === 'desc') modifier = -1;
                        if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                        if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                        return 0;
                    });
                },
                isFirstPage: function () {
                    return (this.pageInfo.pageNumber <= 0);
                },
                isLastPage: function () {
                    return ((this.pageInfo.pageNumber + 1) * this.pageInfo.pageSize) >= this.pageInfo.maxCount;
                }
            },
            mounted: function () {
                var context = this;
                @if (Model.IsApplicationListView())
                {
                    <text>
                        context.getPage();
                    </text>

                }
                else if (Model.IsApplicationInputView() && instanceid > 0)
                {
                    <text>
                        context.getApplication();
                    </text>
              }
              else if (Model.IsApplicationInputView() && instanceid == 0)
              {
                    <text>
                        context.createNewApplication();
                    </text>

              }

            }
        });


    </script>

}
