@model Intwenty.Model.ViewModel

@{

    var mainDbName = Model.ApplicationInfo.DbName;
    var subTableDbNames = new List<string>();
    var applicationId = Model.ApplicationInfo.Id;
    var applicationViewId = Model.Id;
    var instanceid = (int)ViewBag.Id;
    var requestInfo = (string)ViewBag.RequestInfo;
    var aftersaveaction = string.Empty;
    var aftersaveactionpath = string.Empty;

    //SET REQUESTINFO TO USE WHEN RENDERING INTERFACES
    Model.RequestInfo = requestInfo;

    //WHAT SHOULD HAPPEN WHEN THIS VIEW IS PERSISTED
    if (Model.HasSaveFunction)
    {
        aftersaveaction = Model.SaveFunction.GetPropertyValue("AFTERSAVEACTION");
        if (aftersaveaction == "GOTOLISTVIEW")
        {
            aftersaveactionpath = Model.SaveFunction.GetPropertyValue("GOTOLISTVIEWPATH");
        }
    }
}



<br />
<br />

@await Html.PartialAsync("_Modals")


<div id="app">

    <!-- 1. ADD MODALS AND SOME CONFIG -->
    @foreach (var iface in Model.UserInterface)
    {
        if (iface.IsSubTableUserInterface)
        {
            if (!subTableDbNames.Exists(p => p == iface.DataTableDbName))
            {
             
                subTableDbNames.Add(iface.DataTableDbName);
            }
        }
        @foreach (var mip in iface.ModalInterfaces)
        {
            @await Html.PartialAsync("UISections/_ModalInputInterface", mip)
        }
    }
    

    <!-- 2. RENDER THE VIEW HEADER -->
    @await Html.PartialAsync("UISections/_ApplicationViewHeader", Model)


    <br />

    <!-- 3. AFTER SAVE MESSAGE -->
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="savealert" v-if="modelSaved">
        <strong>@Localizer["Changes Saved"] !</strong><br />
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    @foreach (var iface in Model.UserInterface)
    {
        iface.RequestInfo = requestInfo;

        iface.CurrentRenderContext = CurrentRenderContextOptions.View;

        <!-- 4. RENDER APPLICATION LISTVIEW -->
        if (iface.IsMetaTypeListInterface && iface.Table.Id > 0 && iface.IsMainApplicationTableInterface && Model.IsApplicationListView())
        {
            @await Html.PartialAsync("UISections/_MainTableListInterface", iface)
        }

        <!-- 5. RENDER APPLICATION ONPAGE INPUT INTERFACES -->
        if (iface.IsMetaTypeInputInterface && iface.IsMainApplicationTableInterface && Model.IsApplicationInputView())
        {
            @await Html.PartialAsync("UISections/_InputInterface", iface)
        }

        <!-- 6. RENDER APPLICATION ONPAGE SUBTABLE INTERFACES -->
        if (iface.IsMetaTypeListInterface && iface.Table.Id > 0 && iface.IsSubTableUserInterface && Model.IsApplicationInputView())
        {
            @await Html.PartialAsync("UISections/_SubTableListInterface", iface)
        }



    }


</div>

@section Scripts
{

    <script>

        var app = new Vue({
            el: '#app',
            data:
            {
                baseurl: "@ViewBag.BaseAPIPath"
                ,requestInfo: "@requestInfo"
                ,appMainTable: "@mainDbName"
                ,appId: @applicationId
                ,applicationViewId: @applicationViewId
                ,instanceId: @instanceid
                ,version:1
                ,applist: []
                ,model: { @mainDbName: {} @foreach (var st in subTableDbNames){<text>,@st:[]</text>}}
                ,validation: {}
                ,aftersaveaction:'@aftersaveaction'
                ,aftersaveactionpath: '@aftersaveactionpath'
                ,modelSaved: false
                ,idgen: -1
                ,model_settings: { showFilter: false, currentSort: "", currentSortDir: "" }
                ,model_pageInfo: { applicationId: @applicationId, applicationViewId: @applicationViewId, maxCount: 0, pageSize: 20, pageNumber: 0, filterValues: [],skipPaging:false }
                 @foreach (var s in subTableDbNames)
                 {
                     var table = s;
                     var table_settings = s + "_settings";
                     var table_pageinfo = s + "_pageInfo";
                 <text>
                 ,@table:{}
                 ,@table_settings: { showFilter: false, currentSort: "", currentSortDir: "" }
                 ,@table_pageinfo: { applicationId: @applicationId, applicationViewId:@applicationViewId, maxCount: 0, pageSize: 20, pageNumber: 0, filterValues: [],skipPaging:false }
                 </text>
                 }
            },
            methods:
            {

                openApplicationModal: function (item, uimetacode)
                {
                    var context = this;


                    var savefunc = function ()
                    {
                        var saveendpoint = "@ViewBag.SaveAPIPath";
                        context.model[context.appMainTable].ApplicationId = context.appId;
                        context.model[context.appMainTable].ApplicationViewId = context.applicationViewId;
                        context.model[context.appMainTable].RequestInfo = context.requestInfo;

                        $.ajax({
                            url: saveendpoint,
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(context.model),
                            success: function (response)
                            {
                                @if (Model.IsApplicationListView())
                                {
                                    <text>
                                    context.modelSaved = true;
                                    context.getPage();
                                    setTimeout(function () { context.modelSaved = false; }, 3000);
                                    </text>
                                }
                            },
                            error: function (response)
                            {
                                raiseErrorModal(response);
                            }
                        });
                    };


                    if (item)
                    {
                         context.model[context.appMainTable] = {};
                         context.model[context.appMainTable] = item;
                        $('#addEditModalSaveBtn_' + uimetacode).off('click', savefunc);
                        $('#addEditModalSaveBtn_' + uimetacode).off().on('click', savefunc);
                        $('#addEditModal_' + uimetacode).modal();

                    }
                    else
                    {

                        var endpointurl = "@ViewBag.CreateNewAPIPath/" + context.appId;
                        if (context.requestInfo != "")
                            endpointurl += "/" + context.requestInfo;

                        $.get(endpointurl, function (response)
                        {
                            context.model = JSON.parse(response.data);

                        }).done(function (){
                            $('#addEditModalSaveBtn_' + uimetacode).off('click', savefunc);
                            $('#addEditModalSaveBtn_' + uimetacode).off().on('click', savefunc);
                            $('#addEditModal_' + uimetacode).modal();

                        });
                    }



                },
                openSubTableModal: function (item, uimetacode, dbtablename)
                {
                    var context = this;

                    var addLocalLine = function ()
                    {
                        context.idgen--;
                        context.model[dbtablename].Id = 0;
                        context[dbtablename].LocalId = context.idgen;
                        context[dbtablename].ApplicationId = context.applicationId;
                        context.model[dbtablename].push(context[dbtablename]);
                    };


                    var saveFunc = function ()
                    {

                        if (context.instanceId === 0)
                        {
                            context.model[context.appMainTable].ApplicationId = context.appId;
                            context.model[context.appMainTable].ApplicationViewId = context.applicationViewId;
                            context.model[context.appMainTable].RequestInfo = context.requestInfo;

                            if (!context.canSave())
                                return;

                            var endpointurl = "@ViewBag.SaveAPIPath";

                            $.ajax({
                                url: endpointurl,
                                type: "POST",
                                contentType: "application/json",
                                data: JSON.stringify(context.model),
                                success: function (response)
                                {
                                    context.version = response.version;
                                    context.instanceId = response.id;

                                    context[dbtablename].Version = context.version;
                                    context[dbtablename].ParentId = context.instanceId;
                                    context[dbtablename].TableName = dbtablename;
                                    context[dbtablename].ApplicationId = context.appId;
                                    context[dbtablename].ApplicationViewId = context.applicationViewId;
                                    context[dbtablename].RequestInfo = context.requestInfo;

                                    endpointurl = "@ViewBag.SaveLineAPIPath";

                                    $.ajax({
                                        url: endpointurl,
                                        type: "POST",
                                        contentType: "application/json",
                                        data: JSON.stringify(context[dbtablename]),
                                        success: function (response)
                                        {
                                            if (context.aftersaveaction == 'GOTOLISTVIEW' && context.aftersaveactionpath != '') {
                                                endpointurl = '@Url.Content("~/" + aftersaveactionpath)';
                                                if (endpointurl.indexOf("{requestinfo}") > 1 && context.requestInfo != "") {
                                                    endpointurl = endpointurl.replace("{requestinfo}", context.requestInfo);
                                                }
                                                else if (context.aftersaveactionpath.indexOf("{requestinfo}") > 1 && context.requestInfo == "") {
                                                    endpointurl = endpointurl.replace("{requestinfo}", "");
                                                }
                                                window.location.href = endpointurl;
                                            }
                                            else if (context.aftersaveaction == 'REFRESH')
                                            {
                                                context.modelSaved = true;
                                                context.getApplication();
                                                setTimeout(function () { context.modelSaved = false; }, 3000);
                                            }

                                        },
                                        error: function (response)
                                        {
                                            raiseErrorModal(response.responseJSON);
                                        }
                                    });
                                },
                                error: function (response)
                                {
                                    raiseErrorModal(response.responseJSON);
                                }
                                });
                        }
                        else
                        {
                            var endpointurl = "@ViewBag.SaveLineAPIPath";

                            context[dbtablename].Version = context.version;
                            context[dbtablename].ParentId = context.instanceId;
                            context[dbtablename].TableName = dbtablename;
                            context[dbtablename].ApplicationId = context.appId;
                            context[dbtablename].ApplicationViewId = context.applicationViewId;
                            context[dbtablename].RequestInfo = context.requestInfo;

                            $.ajax({
                                url: endpointurl,
                                type: "POST",
                                contentType: "application/json",
                                data: JSON.stringify(context[dbtablename]),
                                success: function (response) {
                                    context.modelSaved = true;
                                    setTimeout(function () { context.modelSaved = false; }, 3000);
                                    context.getPage(dbtablename);
                                },
                                error: function (response) {
                                    raiseErrorModal(response.responseJSON);
                                }
                            });
                        }
                    };


                    if (item) {
                        context[dbtablename] = {};
                        context[dbtablename] = item;
                        $('#addEditModalSaveBtn_' + uimetacode).off('click', saveFunc);
                        $('#addEditModalSaveBtn_' + uimetacode).off().on('click', saveFunc);
                        $('#addEditModal_' + uimetacode).modal();

                    }
                    else {
                        context[dbtablename] = {};
                        $('#addEditModalSaveBtn_' + uimetacode).off('click', saveFunc);
                        $('#addEditModalSaveBtn_' + uimetacode).off().on('click', saveFunc);
                        $('#addEditModal_' + uimetacode).modal();
                    }


                },
                deleteTableLine: function (item, dbtablename)
                {
                    var context = this;

                    var endpointurl = "@ViewBag.DeleteLineAPIPath";

                    var deletelinefunc = function ()
                    {
                        for (var i = 0; i < context.model[dbtablename].length; i++) {
                            var lineitem = context.model[dbtablename][i];
                            if (lineitem.Id > 0 && item.Id > 0 && lineitem.Id === item.Id) {

                                var senddata = { Id: item.Id, ParentId: context.model[context.appMainTable].Id, TableName: dbtablename, ApplicationId: context.appId, ApplicationViewId: context.applicationViewId, RequestInfo: context.requestInfo };

                                $.ajax({
                                    url: endpointurl,
                                    type: "POST",
                                    contentType: "application/json",
                                    data: JSON.stringify(senddata),
                                    success: function (response)
                                    {
                                        context.model[dbtablename].splice(i, 1);
                                        context.modelSaved = true;
                                        setTimeout(function () { context.modelSaved = false; }, 3000);
                                    },
                                    error: function (response) {
                                        raiseErrorModal(response);
                                    }
                                });

                                break;
                            }
                            else {
                                if (item.hasOwnProperty("LocalId") && lineitem.hasOwnProperty("LocalId")) {
                                    if (lineitem.LocalId === item.LocalId) {
                                        context.model[dbtablename].splice(i, 1);
                                        break;
                                    }
                                }
                            }
                        }
                    };

                    raiseYesNoModal("Delete ?", "This record will be deleted, are you sure ?", deletelinefunc);

                },
                saveApplication: function ()
                {
                    var context = this;

                    var endpointurl = "@ViewBag.SaveAPIPath";

                    context.model[context.appMainTable].ApplicationId = context.appId;
                    context.model[context.appMainTable].ApplicationViewId = context.applicationViewId;
                    context.model[context.appMainTable].RequestInfo = context.requestInfo;

                    if (!context.canSave())
                        return;

                    $.ajax({
                        url: endpointurl,
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(this.model),
                        success: function (response)
                        {

                            if (context.aftersaveaction == 'GOTOLISTVIEW' && context.aftersaveactionpath != '') {
                                endpointurl = '@Url.Content("~/" + aftersaveactionpath)';
                                if (endpointurl.indexOf("{requestinfo}") > 1 && context.requestInfo != "") {
                                    endpointurl = endpointurl.replace("{requestinfo}", context.requestInfo);
                                }
                                else if (context.aftersaveactionpath.indexOf("{requestinfo}") > 1 && context.requestInfo == "") {
                                    endpointurl = endpointurl.replace("{requestinfo}", "");
                                }
                                window.location.href = endpointurl;
                            }
                            else if (context.aftersaveaction == 'REFRESH')
                            {
                                context.version = response.version;
                                context.instanceId = response.id;
                                context.modelSaved = true;
                                context.getApplication();
                                setTimeout(function () { context.modelSaved = false; }, 3000);
                            }
                        },
                        error: function (response)
                        {
                            raiseErrorModal(response.responseJSON);
                        }
                    });

                },
                onImageChanged: function (event)
                {
                    this.uploadImage(event);
                },
                getPage: function (dbtablename)
                {
                    var context = this;

                    var endpointurl = "@ViewBag.GetListAPIPath";

                    var objname = "";
                    var ismaintable = false;
                    if (dbtablename)
                    {
                        objname = dbtablename + "_pageInfo";
                    }
                    else
                    {
                        ismaintable = true;
                        objname = "model_pageInfo";
                    }

                    context[objname].applicationViewId = context.applicationViewId;
                    context[objname].requestInfo = context.requestInfo;

                    if (!ismaintable)
                    {
                        context[objname].dataTableDbName = dbtablename;
                        context[objname].foreignKeyId = context.instanceId;
                    }
                    else
                    {
                        context[objname].foreignKeyId = 0;
                    }

                    $.ajax({
                        url: endpointurl,
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(context[objname]),
                        success: function (response)
                        {
                            //DATA
                            if (ismaintable)
                            {
                                context.applist = JSON.parse(response.data);

                                //UPDATE CURRENT PAGE INFO
                                context.model_pageInfo = response.listFilter;
                                if (context.model_pageInfo.filterValues.length === 0)
                                    context.addFilterValue();
                            }
                            else
                            {
                                context.model[dbtablename] = JSON.parse(response.data);
                                context[objname] = response.listFilter;
                                if (context[objname].filterValues.length === 0)
                                    context.addFilterValue(dbtablename);

                            }
                        }
                    });
                },
                exportToExcel: function ()
                {
                    var context = this;
                    var args =  { applicationId: @applicationId, applicationViewId: @applicationViewId, maxCount: 0, pageSize: 20000, pageNumber: 0, filterValues: [], skipPaging:true }
                    var endpointurl = "@ViewBag.GetListAPIPath";

                    $.ajax({
                        url: endpointurl,
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(args),
                        success: function (response) {
                            var data = JSON.parse(response.data);
                            alasql.promise('SELECT * INTO XLSX("download.xlsx",{headers:true}) FROM ?', [data])
                                .then(function (data) {
                                    console.log('Data saved');
                                }).catch(function (err) {
                                    console.log('Error:', err);
                                });
                        }
                    });
                },
                deleteApplication: function (item) {
                    var context = this;
                   var endpointurl = "@ViewBag.DeleteApplicationAPIPath";

                    var deleteapp = function ()
                    {
                        item.ApplicationId = context.appId;
                        item.ApplicationViewId = context.applicationViewId;
                        item.RequestInfo = context.requestInfo;

                        $.ajax({
                            url: endpointurl,
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(item),
                            success: function (response)
                            {
                                context.getPage();
                            },
                            error: function (response)
                            {
                                raiseErrorModal(response.responseJSON);
                            }
                        });
                    };

                    raiseYesNoModal("Delete ?", "This record will be deleted, are you sure ?", deleteapp);
                },
                getApplication: function ()
                {
                    var context = this;
                    var endpointurl = "@ViewBag.GetApplicationAPIPath/" + context.appId + "/" + context.applicationViewId + "/" + context.instanceId;
                    if (context.requestInfo != "")
                        endpointurl += "/" + context.requestInfo;
                    $.get(endpointurl, function (response)
                    {
                        var maindata = JSON.parse(response.data);
                        context.model[context.appMainTable] = maindata[context.appMainTable];

                    }).done(function () {

                        @foreach (var s in subTableDbNames)
                        {
                            <text>
                            context.getPage('@s');
                            </text>
                        }

                        context.$forceUpdate();
                     });
                },
                createNewApplication: function ()
                {
                    var context = this;
                    var endpointurl = "@ViewBag.CreateNewAPIPath/" + context.appId;
                    $.get(endpointurl, function (response) {
                        context.model = JSON.parse(response.data);
                    }).done(function () {
                        //
                    });
                },
                getDomain: function (domainname, query, donefunc)
                {
                    var context = this;
                    var endpointurl = "@ViewBag.GetDomainAPIPath/" + domainname + "/" + query;
                    if (context.requestInfo != "")
                        endpointurl += "/" + context.requestInfo;

                    $.get(endpointurl, function (response)
                    {
                        donefunc(response);
                    });

                },
                isFirstPage: function (dbtablename)
                {
                    var objname = "";
                    if (dbtablename)
                        objname = dbtablename + "_pageInfo";
                    else
                        objname = "model_pageInfo";

                    var pageno = this[objname].pageNumber;

                    return (pageno <= 0);
                },
                isLastPage: function (dbtablename)
                {
                    var objname = "";
                    if (dbtablename)
                        objname = dbtablename + "_pageInfo";
                    else
                        objname = "model_pageInfo";

                    var pageno = this[objname].pageNumber;
                    var pagesize = this[objname].pageSize;
                    var maxcount = this[objname].maxCount;

                    return ((pageno + 1) * pagesize) >= maxcount;
                },
                sortBycolumn: function (s, dbtablename)
                {
                    var objname = "";
                    if (dbtablename)
                        objname = dbtablename + "_settings";
                    else
                        objname = "model_settings";

                    //if s == current sort, reverse
                    if (s === this[objname].currentSort) {
                        this[objname].currentSortDir = this[objname].currentSortDir === 'asc' ? 'desc' : 'asc';
                    }
                    this[objname].currentSort = s;
                },
                nextPage: function (dbtablename)
                {
                    var context = this;

                    var objname = "";
                    if (dbtablename)
                        objname = dbtablename + "_pageInfo";
                    else
                        objname = "model_pageInfo";

                    context[objname].pageNumber++;
                    context.getPage(dbtablename);
                },
                prevPage: function (dbtablename) {
                    var context = this;

                    var objname = "";
                    if (dbtablename)
                        objname = dbtablename + "_pageInfo";
                    else
                        objname = "model_pageInfo";

                    context[objname].pageNumber--;
                    if (context[objname].pageNumber < 0)
                        context[objname].pageNumber = 0;
                    context.getPage(dbtablename);
                },
                runFilter: function (dbtablename)
                {
                    var context = this;

                    var objname = "";
                    if (dbtablename)
                        objname = dbtablename + "_pageInfo";
                    else
                        objname = "model_pageInfo";

                    if (context[objname].filterValues.length > 0)
                        context.getPage(dbtablename);
                },
                addFilterValue: function (dbtablename)
                {
                    var context = this;

                    var objname = "";
                    if (dbtablename)
                        objname = dbtablename + "_pageInfo";
                    else
                        objname = "model_pageInfo";

                    context[objname].filterValues.push({ "name": "", "value": "" });
                },
                deleteFilterValue: function (item, dbtablename)
                {
                    var context = this;

                    var objname = "";
                    if (dbtablename)
                        objname = dbtablename + "_pageInfo";
                    else
                        objname = "model_pageInfo";

                    for (var i = 0; i < context[objname].filterValues.length; i++) {
                        if (context[objname].filterValues[i].name === item.name) {
                            context[objname].filterValues.splice(i, 1);
                            context.getPage(dbtablename);
                            break;

                        }
                    }
                }

            },
            computed: {

                sortedAppTable: function () {
                    return this.applist.sort((a, b) => {
                        let modifier = 1;
                        if (this.model_settings.currentSortDir === 'desc') modifier = -1;
                        if (a[this.model_settings.currentSort] < b[this.model_settings.currentSort]) return -1 * modifier;
                        if (a[this.model_settings.currentSort] > b[this.model_settings.currentSort]) return 1 * modifier;
                        return 0;
                    });
                }
                @foreach (var s in subTableDbNames)
                {
                    <text>
                    ,sorted_@s: function()
                    {
                        var dbtablename = "@s";
                        var lineobjectname = "@s" + "_settings";
                        return this.model[dbtablename].sort((a, b) => {
                            let modifier = 1;
                            if (this.model_settings.currentSortDir === 'desc') modifier = -1;
                            if (a[this[lineobjectname].currentSort] < b[this[lineobjectname].currentSort]) return -1 * modifier;
                            if (a[this[lineobjectname].currentSort] > b[this[lineobjectname].currentSort]) return 1 * modifier;
                            return 0;
                        });
                    }
                </text>
                }
            },
            mounted: function ()
            {
                var context = this;

                @if (Model.IsApplicationListView())
                {
                    <text>
                        context.getPage();
                    </text>

                }
                else if (Model.IsApplicationInputView() && instanceid > 0)
                {
                    <text>
                        context.getApplication();
                    </text>
              }
              else if (Model.IsApplicationInputView() && instanceid == 0)
              {
                    <text>
                        context.createNewApplication();
                    </text>

              }

            }
        });


    </script>

}
