@page
@model APIKeyModel
@{
    ViewData["Title"] = Localizer["API Key"].Value;
    ViewData["ActivePage"] = ManageNavPages.APIKey;
}
<h4>@ViewData["Title"]</h4>
<br />
<p>API Key</p>

@if (Model.StatusCode == "SUCCESS")
{
    <partial name="_StatusMessage" model="@Localizer["API Key Updated"].Value !" />
}


<div class="row">
    <div class="col-md-6">

        <form id="apikey-form" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">

                @if (Model.Input.HasAPIKey)
                {
                    <b>@Localizer["API Key"]:</b> @Model.Input.APIKey
                    <br />
                    <br />
                    <button id="create-apikey-button" type="submit" asp-page-handler="CreateAPIKey" class="btn btn-primary">@Localizer["Renew Key"]</button>
                }
                else
                {
                    <button id="create-apikey-button" type="submit" asp-page-handler="CreateAPIKey" class="btn btn-primary">@Localizer["Create Key"]</button>
                }



            </div>

        </form>

    </div>
</div>
