@page
@model GroupsModel
@{
    ViewData["Title"] = Localizer["Groups"];
    ViewData["ActivePage"] = ManageNavPages.Groups;
    var showmembers_on_page = false;
}
<h4>@ViewData["Title"]</h4>

<br />

@await Html.PartialAsync("_Modals")

<div class="row" id="app">

    <div class="col-md-12">

        <h6>@Localizer["Create or Join"]</h6>
        <hr />
        <label>@Localizer["Groupname"]</label>
        <div class="row">
            <div class="col-md-3"><input type="text" class="form-control form-control-sm" v-model="model.groupName" data-required="True" id="tbgroup" v-on:input="onUserInput(event)"></div>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="d-flex flex-row">
                    <button type="button" class="btn btn-sm btn-primary m-2" v-on:click="createGroup()" style="min-width:110px">@Localizer["Create Group"]</button>
                    <button type="button" class="btn btn-sm btn-primary m-2" v-on:click="joinGroup()" style="min-width:110px">@Localizer["Join Group"]</button>
                </div>
            </div>

        </div>

        <br />
        <br />
        <h6>@Localizer["My Groups"]</h6>
        <hr />
        <div class="row mt-2 mb-2">
            <div class="col-md-3"><b>@Localizer["Groupname"]</b></div>
            <div class="col-md-3"><b>@Localizer["My role"]</b></div>
            <div class="col-md-6"></div>
        </div>
        <hr />
        <div class="row mt-2 mb-2" v-for="entry in model.groupconnection.myGroups">
            <div class="col-md-3">{{entry.groupName}}</div>
            <div class="col-md-3">{{entry.userRole}}</div>
            <div class="col-md-6">
                <div class="d-flex flex-row">
                    <button v-if="entry.canInviteToGroup" class="btn btn-sm btn-primary m-2" v-on:click="inviteUser(entry)" title="Invite" style="min-width:110px">@Localizer["Invite Member"]</button>
                    <button v-if="entry.canRenameGroup" class="btn btn-sm btn-primary m-2" v-on:click="renameGroup(entry)" title="Rename" style="min-width:110px">@Localizer["Rename"]</button>
                    <button v-if="entry.canLeave" class="btn btn-sm btn-danger m-2" v-on:click="leaveGroup(entry)" title="Leave" style="min-width:110px"><i class="fas fa-user-minus"></i> @Localizer["Leave"]</button>
                    <button v-if="entry.canAcceptInvitation" class="btn btn-sm btn-success m-2" v-on:click="setMembership(entry,'ACCEPTED')" title="Accept" style="min-width:110px"><i class="fas fa-user-plus"></i> @Localizer["Accept"]</button>
                    <button class="btn btn-sm btn-primary m-2" v-on:click="showMembers(entry)" title="Members" style="min-width:110px"><i class="fas fa-users"></i> @Localizer["Members"]</button>
                </div>
            </div>
        </div>

        @if (showmembers_on_page)
        {
            <br />
            <br />
            <h6>@Localizer["Members of my groups"]</h6>
            <hr />
            <div v-for="entry in model.groupconnection.myGroupsMembers">
                <b>{{entry.groupName}}</b>
                <div class="row mt-2 mb-2">
                    <div class="col-md-3"><b>@Localizer["User Name"]</b></div>
                    <div class="col-md-3"><b>@Localizer["Role"]</b></div>
                    <div class="col-md-6"></div>
                </div>
                <hr />
                <div class="row mt-2 mb-2" v-for="member in entry.members">
                    <div class="col-md-3">{{member.userName}}</div>
                    <div class="col-md-3">{{member.userRole}}</div>
                    <div class="col-md-6">
                        <div class="d-flex flex-row">
                            <button v-if="member.canAcceptJoinRequest" class="btn btn-sm btn-success m-2" v-on:click="setMembership(member, 'ACCEPTED')" title="Accept" style="min-width:110px"><i class="fas fa-user-plus"></i> @Localizer["Accept"]</button>
                            <button v-if="member.canRemoveMember" class="btn btn-sm btn-danger m-2" v-on:click="setMembership(member, 'REMOVE')" title="Remove" style="min-width:110px"><i class="fas fa-user-minus"></i> @Localizer["Remove"]</button>
                            <button v-if="member.canRemoveInvitation" class="btn btn-sm btn-danger m-2" v-on:click="setMembership(member, 'REMOVE')" title="Remove" style="min-width:110px"><i class="fas fa-user-minus"></i> @Localizer["Remove"]</button>
                        </div>

                    </div>

                </div>
                <hr />
            </div>
        }



    </div>

    <div class="modal" id="editgroup_dlg_modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="editgroup_dlg_modal_hdr" class="modal-title"> @Localizer["Group"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info">{{model.editdlg.groupDlgInfo}}</div>
                    <br />
                    <div class="form-group">
                        <label class="control-label">{{model.editdlg.groupDlgLabel}}</label>
                        <input type="text" class="form-control form-control-sm" v-model="model.editdlg.groupDlgValue">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="editgroup_dlg_modal_okbtn" type="button" class="btn btn-sm btn-primary" data-dismiss="modal" v-on:click="handleGroup()">Ok</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">@Localizer["Close"]</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="groupmembers_dlg_modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="groupmembers_dlg_modal_hdr" class="modal-title">@Localizer["Members in"] {{model.memberdlg.groupName}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row mt-2 mb-2">
                            <div class="col-md-3"><b>@Localizer["User Name"]</b></div>
                            <div class="col-md-3"><b>@Localizer["Role"]</b></div>
                            <div class="col-md-6"></div>
                        </div>
                        <hr />
                        <div class="row mt-2 mb-2" v-for="member in model.memberdlg.members">
                            <div class="col-md-3">{{member.userName}}</div>
                            <div class="col-md-3">{{member.userRole}}</div>
                            <div class="col-md-6">
                                <div class="d-flex flex-row">
                                    <button v-if="member.canAcceptJoinRequest" class="btn btn-sm btn-success m-2" v-on:click="setMembership(member, 'ACCEPTED')" title="Accept" style="min-width:110px"><i class="fas fa-user-plus"></i> Accept</button>
                                    <button v-if="member.canRemoveMember" class="btn btn-sm btn-danger m-2" v-on:click="setMembership(member, 'REMOVE')" title="Remove" style="min-width:110px"><i class="fas fa-user-minus"></i> Remove</button>
                                    <button v-if="member.canRemoveInvitation" class="btn btn-sm btn-danger m-2" v-on:click="setMembership(member, 'REMOVE')" title="Remove" style="min-width:110px"><i class="fas fa-user-minus"></i> Remove</button>
                                </div>

                            </div>

                        </div>
                        <hr />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" v-on:click="onCloseMemberDlg()">@Localizer["Close"]</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {


    <script>

        var app = new Vue({
            el: '#app',
            data:
            {
                model: {
                    groupconnection: {}, memberdlg: {}, editdlg: {}
                }

            },
            methods:
            {
                setMembership: function (usergroup,status)
                {
                    var context = this;
                    var baseurl = '@Url.Content("~/Identity/Account/Manage/")';
                    var endpointurl = baseurl + "Groups?handler=MembershipChange";
                    var antiforgerytoken = '@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken';
                    var data = { "userId": usergroup.userId, "status": status, "groupId": usergroup.groupId }


                    $.ajax({
                        url: endpointurl,
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(data),
                        headers: {
                            RequestVerificationToken: antiforgerytoken
                        },
                        success: function (response)
                        {
                            context.loadGroups();
                        },
                        error: function (response) {
                            raiseErrorModal(response.responseJSON);
                        }
                    });
                },
                createGroup: function ()
                {
                    var context = this;

                    if (!context.model.groupName)
                    {
                        $("#tbgroup").addClass('requiredNotValid');
                        return;
                    }

                    var question = '@Localizer["Do you want to create the group"] ' + context.model.groupName + " ?";

                    var yes_func = function ()
                    {
                        var baseurl = '@Url.Content("~/Identity/Account/Manage/")';
                        var endpointurl = baseurl + "Groups?handler=CreateGroup";
                        var antiforgerytoken = '@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken';
                        var data = { "groupName": context.model.groupName }


                        $.ajax({
                            url: endpointurl,
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(data),
                            headers: {
                                RequestVerificationToken: antiforgerytoken
                            },
                            success: function (response) {
                                context.model.groupName = "";
                                context.loadGroups();
                            },
                            error: function (response) {
                                raiseErrorModal(response.responseJSON);
                            }
                        });

                    };

                    raiseYesNoModal("@Localizer["Create Group"] ?", question , yes_func);

                },
                joinGroup: function ()
                {
                    var context = this;

                    if (!context.model.groupName)
                    {
                        $("#tbgroup").addClass('requiredNotValid');
                        return;
                    }

                    var question = '@Localizer["Become a member of the group"] ' + context.model.groupName + " ?";

                    var yes_func = function ()
                    {
                        var baseurl = '@Url.Content("~/Identity/Account/Manage/")';
                        var endpointurl = baseurl + "Groups?handler=JoinGroup";
                        var antiforgerytoken = '@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken';
                        var data = { "groupName": context.model.groupName }


                        $.ajax({
                            url: endpointurl,
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(data),
                            headers: {
                                RequestVerificationToken: antiforgerytoken
                            },
                            success: function (response) {
                                raiseInformationModal("Information", '@Localizer["GROUPREQTOOWNERSENT"]');
                                context.model.groupName = "";
                                context.loadGroups();
                            },
                            error: function (response) {
                                raiseErrorModal(response.responseJSON);
                            }
                        });

                    };

                    raiseYesNoModal("@Localizer["Join Group"] ?", question , yes_func);

                },
                inviteUser: function (group) {

                    var context = this;
                    context.model.editdlg.groupDlgGroup = group;
                    context.model.editdlg.groupDlgStyle = "INVITE";
                    context.model.editdlg.groupDlgInfo = '@Localizer["GROUPINVITEINSTRUCT"] ' + group.groupName;
                    context.model.editdlg.groupDlgLabel = "Email";
                    context.model.editdlg.groupDlgValue = "";
                    this.$forceUpdate();
                    $('#editgroup_dlg_modal').modal();

                },
                renameGroup: function (group) {

                    var context = this;
                    context.model.editdlg.groupDlgGroup = group;
                    context.model.editdlg.groupDlgStyle = "RENAME";
                    context.model.editdlg.groupDlgInfo = '@Localizer["Type a new groupname for"] ' + group.groupName;
                    context.model.editdlg.groupDlgLabel = '@Localizer["New Groupname"]';
                    context.model.editdlg.groupDlgValue = "";
                    this.$forceUpdate();
                    $('#editgroup_dlg_modal').modal();
                },
                leaveGroup: function (group) {

                    var context = this;

                    var question = '@Localizer["Leave"] ' + group.groupName + " ?";

                    var yes_func = function ()
                    {
                        var baseurl = '@Url.Content("~/Identity/Account/Manage/")';
                        var endpointurl = baseurl + "Groups?handler=LeaveGroup";
                        var antiforgerytoken = '@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken';
                        var data = { "groupId": group.groupId, "userId": group.userId }


                        $.ajax({
                            url: endpointurl,
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(data),
                            headers: {
                                RequestVerificationToken: antiforgerytoken
                            },
                            success: function (response) {
                                context.loadGroups();
                            },
                            error: function (response) {
                                raiseErrorModal(response.responseJSON);
                            }
                        });

                    };

                    raiseYesNoModal('@Localizer["Leave"] ' + '@Localizer["Group"] ?', question , yes_func);

                },
                showMembers: function (group) {


                    var context = this;
                    context.model.memberdlg = {};
                    for (i = 0; i < context.model.groupconnection.myGroupsMembers.length; i++)
                    {
                        if (group.groupId == context.model.groupconnection.myGroupsMembers[i].groupId)
                        {
                            context.model.memberdlg = context.model.groupconnection.myGroupsMembers[i];
                            break;
                        }
                    }

                    if (context.model.memberdlg)
                    {
                        $('#groupmembers_dlg_modal').modal();
                    }

                },
                onCloseMemberDlg: function ()
                {
                    var context = this;
                    context.model.memberdlg = {};
                },
                handleGroup: function () {

                    var context = this;

                    if (context.model.editdlg.groupDlgStyle == "INVITE")
                    {

                        if (!context.model.editdlg.groupDlgValue)
                        {
                            raiseValidationErrorModal('@Localizer["You must type a valid email"]');
                            return;
                        }

                        var question = "Do you want to invite " + context.model.editdlg.groupDlgValue + " to " + context.model.editdlg.groupDlgGroup.groupName + " ?";

                        var yes_func = function ()
                        {
                            var baseurl = '@Url.Content("~/Identity/Account/Manage/")';
                            var endpointurl = baseurl + "Groups?handler=InviteToGroup";
                            var antiforgerytoken = '@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken';
                            var data = { groupName: context.model.editdlg.groupDlgGroup.groupName, groupId: context.model.editdlg.groupDlgGroup.groupId, email: context.model.editdlg.groupDlgValue };


                            $.ajax({
                                url: endpointurl,
                                type: "POST",
                                contentType: "application/json",
                                data: JSON.stringify(data),
                                headers: {
                                    RequestVerificationToken: antiforgerytoken
                                },
                                success: function (response) {
                                    raiseInformationModal("Information", '@Localizer["GROUPINVITESENT"] ' + context.model.editdlg.groupDlgValue);
                                    context.loadGroups();
                                },
                                error: function (response) {
                                    raiseErrorModal(response.responseJSON);
                                }
                            });

                        };

                        raiseYesNoModal('@Localizer["Invite member"]', question , yes_func);

                    }

                    if (context.model.editdlg.groupDlgStyle == "RENAME")
                    {
                        if (!context.model.editdlg.groupDlgValue) {
                            raiseValidationErrorModal('@Localizer["You must type a new groupname"]');
                            return;
                        }

                        var question = '@Localizer["Do you want to rename"] ' + context.model.editdlg.groupDlgGroup.groupName + ' @Localizer["to"] ' + context.model.editdlg.groupDlgValue + " ?";

                        var yes_func = function ()
                        {
                            var baseurl = '@Url.Content("~/Identity/Account/Manage/")';
                            var endpointurl = baseurl + "Groups?handler=RenameGroup";
                            var antiforgerytoken = '@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken';
                            var data = { groupName: context.model.editdlg.groupDlgGroup.groupName, groupId: context.model.editdlg.groupDlgGroup.groupId, newName: context.model.editdlg.groupDlgValue };


                            $.ajax({
                                url: endpointurl,
                                type: "POST",
                                contentType: "application/json",
                                data: JSON.stringify(data),
                                headers: {
                                    RequestVerificationToken: antiforgerytoken
                                },
                                success: function (response) {
                                    context.loadGroups();
                                },
                                error: function (response) {
                                    raiseErrorModal(response.responseJSON);
                                }
                            });

                        };

                        raiseYesNoModal('@Localizer["Rename"]', question , yes_func);

                    }

                    /*
                    context.model.groupDlgGroup = {};
                    context.model.groupDlgStyle = "";
                    context.model.groupDlgInfo = "";
                    context.model.groupDlgLabel = "";
                    context.model.groupDlgValue = "";
                    this.$forceUpdate();
                    */
                },
                onUserInput: function (event) {
                    if (!event)
                        return;

                    var elementId = event.srcElement.id;
                    if (!elementId)
                        return;

                    //Remove requiredNotValid if the input is valid
                    $("[data-required]").each(function () {
                        var required = $(this).data('required');
                        var id = $(this).attr('id');
                        if (required === "True" && id === elementId) {
                            var val = event.srcElement.value;
                            if (val) {
                                if (val.length > 0)
                                    $("#" + elementId).removeClass('requiredNotValid');
                            }
                        }
                    });
                },
                loadGroups()
                {
                     var context = this;
                    var baseurl = '@Url.Content("~/Identity/Account/Manage/")';
                    var endpointurl = baseurl + "Groups?handler=LoadGroups";
                    $.get(endpointurl, function (response)
                    {

                        context.model.groupconnection = response;

                        if (context.model.memberdlg)
                        {
                            for (i = 0; i < context.model.groupconnection.myGroupsMembers.length; i++) {
                                if (context.model.memberdlg.groupId == context.model.groupconnection.myGroupsMembers[i].groupId) {
                                    context.model.memberdlg = context.model.groupconnection.myGroupsMembers[i];
                                    this.$forceUpdate();
                                    break;
                                }
                            }
                        }
                    });



                }

            },
            computed:
            {


            },
            mounted: function ()
            {

                var context = this;
                context.loadGroups();



            }
        });
    </script>
}

