@page
@model IndexModel
@{
    ViewData["Title"] = Localizer["Profile"].Value;
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
      
            <div class="form-group">
                <label>@Localizer["User Name"]</label>
                <input asp-for="Username" class="form-control" disabled />
            </div>

            @if (!Settings.Value.AccountsUseEmailAsUserName)
            {
                <div class="form-group">
                    <label>Email</label>
                    <input asp-for="Input.Email" class="form-control"  />
                </div>
            }

            <div class="form-group">
                <label>@Localizer["Phone"]</label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Localizer["First Name"]</label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Localizer["Last Name"]</label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <button id="update-profile-button" type="submit" class="btn btn-primary">@Localizer["Save"]</button>
        </form>
    </div>
</div>

