@page
@inject Microsoft.Extensions.Options.IOptions<Intwenty.Model.IntwentySettings> Settings
@model LanguageModel
@{
    ViewData["Title"] = Localizer["Language"];
    ViewData["ActivePage"] = ManageNavPages.Language;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="language-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label>@Localizer["Language"]</label>

                <select asp-for="Input.NewLanguage" class="form-control">
                    @{
                        foreach (var t in Settings.Value.LocalizationSupportedLanguages)
                        {
                            <option value="@t.Culture">@t.Name</option>
                        }
                    }
                </select>


            </div>
            <button id="change-language-button" type="submit" asp-page-handler="ChangeLanguage" class="btn btn-primary">@Localizer["Save"]</button>
        </form>
    </div>
</div>


