@page
@model MfaAuthModel
@{
    ViewData["Title"] = Localizer["Two-factor authentication"];
    ViewData["ActivePage"] = ManageNavPages.MfaAuth;
}


<h4>@ViewData["Title"]</h4>


<div id="app">

    @if (!Model.HasAnyMFA && Settings.Value.TwoFactorSupportedMethods.Count > 0)
    {
        @if (Settings.Value.TwoFactorForced)
        {
            <div class="alert alert-danger">
                @Localizer["MFAFORCED"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        }
        else
        {
            <div class="alert alert-primary">
                @Localizer["MFAOPTIONAL"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

        }



        <br />

        foreach (var m in Settings.Value.TwoFactorSupportedMethods)
        {


            if (m.MfaMethod == MfaAuthTypes.Email && !Model.HasEmailMFA)
            {
                <a id="emailmfa" asp-page="./MfaEmail" class="btn btn-outline-secondary m-2" style="min-width:250px">@Localizer["Enable Email Code 2FA"]</a>
            }
            if (m.MfaMethod == MfaAuthTypes.Fido2 && !Model.HasFido2MFA)
            {
                <a id="fido2msa" asp-page="./MfaFido2" class="btn btn-outline-secondary m-2" style="min-width:250px">@Localizer["Enable FIDO2 2FA"]</a>
            }
            if (m.MfaMethod == MfaAuthTypes.Sms && !Model.HasSmsMFA)
            {
                <a id="smsmfa" asp-page="./MfaSms" class="btn btn-outline-secondary m-2" style="min-width:250px">@Localizer["Enable SMS Code 2FA"]</a>
            }
            if (m.MfaMethod == MfaAuthTypes.SwedishBankId && !Model.HasBankIdMFA)
            {
                <a id="bankidmfa" asp-page="./MfaSwedishBankId" class="btn btn-outline-secondary m-2" style="min-width:250px">@Localizer["Enable Bank ID 2FA"]</a>
            }
            if (m.MfaMethod == MfaAuthTypes.Totp && !Model.HasTotpMFA)
            {
                <a id="totpmfa" asp-page="./MfaTotp" class="btn btn-outline-secondary m-2" style="min-width:250px">@Localizer["Enable Microsoft Authenticator"]</a>
                <a id="totpmfa" asp-page="./MfaTotp" class="btn btn-outline-secondary m-2" style="min-width:250px">@Localizer["Enable Google Authenticator"]</a>
            }

        }
    }

    <br />

    @if (Model.HasAnyMFA)
    {
        if (Request.Query.ContainsKey("success"))
        {
            <div class="alert alert-success">
                @Localizer["MFASTATUS"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        }

        if (Model.HasBankIdMFA)
        {
            <b>@Localizer["You're using Bank ID 2FA"]</b>
        }

        if (Model.HasEmailMFA)
        {
            <b>@Localizer["You're using Email 2FA"]</b>
        }

        if (Model.HasFido2MFA)
        {
            <b>@Localizer["You're using FIDO2 2FA"]</b>
        }

        if (Model.HasSmsMFA)
        {
            <b>@Localizer["You're using SMS Code 2FA"]</b>
        }

        if (Model.HasTotpMFA)
        {
            <b>@Localizer["You're using an authentication app for 2FA"]</b>
        }

        <br />
        <br />
        <hr />

        @if (Settings.Value.TwoFactorForced)
        {
            <div>
                <form method="post" class="form-group">
                    <button class="btn btn-danger" type="submit">@Localizer["Reset 2FA"]</button>
                </form>
            </div>
        }
        else
        {
            <div>
                <form method="post" class="form-group">
                    <button class="btn btn-danger" type="submit">@Localizer["Disable 2FA"]</button>
                </form>
            </div>
        }

        <br />

        <div class="alert alert-warning" role="alert">
            @if (Settings.Value.TwoFactorForced)
            {
                @Localizer["MFAFORCEDRESETINFO"]
            }
            else
            {
                @Localizer["MFARESETINFO"]
            }
        </div>




    }

</div>








